[2015-02-23 19:04] porphyrius opened #1 "Could not find some dependencies for fenics: eigen3"
Hi Juanlu,

Thank you for the fenics recipe.

I tried to install fenics on Ubuntu 14.10 with:
   conda install fenics --channel juanlu001
and I get
   Error: Could not find some dependencies for fenics: eigen3

Do you have any suggestion?

Andrea

[2015-02-23 19:58] astrojuanlu commented on #1
Hello @porphyrius! Thanks for your comment, I will look into this promptly.

[2015-02-23 20:17] porphyrius commented on #1
Hi Juanlu!

I did a new tentative:

conda install eigen3 --channel juanlu001

and got:

Error: No packages found in current linux-64 channels matching: eigen3

[2015-02-23 20:20] porphyrius commented on #1
I also noticed that here:

https://binstar.org/Juanlu001/eigen3

a warning is issued:

Warning: This package does not contain any files in the main channel. Contact the package admin for developer install instructions.

[2015-02-24 12:33] astrojuanlu commented on #1
I re-uploaded eigen3 to the main channel, would you please try again to see if that solved the issue?

[2015-02-24 14:13] porphyrius commented on #1
Hi Juanlu, thanks a lot!

Now the install goes fine.

However dolfin does not work, the problem I get is:

<PRE>
Python 2.7.9 |Anaconda 2.1.0 (64-bit)| (default, Dec 15 2014, 10:33:51)
Type "copyright", "credits" or "license" for more information.
IPython 2.2.0 -- An enhanced Interactive Python.
Anaconda is brought to you by Continuum Analytics.
Please check out: http://continuum.io/thanks and htt

[2015-03-02 19:41] astrojuanlu commented on #1
Hello @porphyrius, sorry for the late reply. What happens if you apt-get install libcppunit-1.13?

[2015-03-02 19:42] astrojuanlu commented on #1
I didn't expect that requirement though, so there must be some issue in my build environment. I will have to check this.

[2015-03-02 20:12] porphyrius commented on #1
Thank you @Juanlu001, now importing dolfin works.

However I immediately get into a new problem:

[code]

I must say that I have now two parallel python environments, one installed with apt-get, and one installed with Anaconda. I switch to the Anaconda environment with

[code]

In the "normal" Ubuntu environment I have swig 2.0.12.

In the Anaconda environment I have swig 3.0.2.

So apparently fen

[2015-03-02 20:32] astrojuanlu commented on #1
Okay, we are making progress. First of all, you should try not to manually switch to the Anaconda environment: please try these:

[code]

The `source activate` step is key, because it properly configures all the paths. This way we ensure nothing strange happens.

[2015-03-02 20:54] porphyrius commented on #1
Oh sorry you are right!

I missed those steps, that was the source of all of the problems!

Now everything works perfectly.

Thank you so much for your help.

[2015-03-02 21:15] astrojuanlu commented on #1
Great! :smile: As a last check, would you please try removing libcppunit to see if the package still works without it? If it does, I will definitely close this issue.

[2015-03-02 21:49] porphyrius commented on #1
I removed libcppunit and everything still works.
Thanks a lot!

[2015-03-02 22:03] astrojuanlu commented on #1
Thanks to you! Closing this then.

[2015-03-02 22:03] #1 closed, assigned to nobody

[2015-03-09 16:36] roliveira opened #2 "Dependency not met"
I'm using the steps provided at FEniCS [website](http://fenicsproject.org/download/) to install it with conda package manager:

[code]

By doing so, I get the following error message when trying `import fenics`:

[code]

Additionally if I try to `import ffc` I get this message:

[code]

The `ffc` library is installed and listed under the `~/anaconda/envs/fenics27/bin` which is in the environment p

[2015-03-09 17:12] astrojuanlu commented on #2
Hello @oliveirarodolfo! What Linux distro are you using? Perhaps it is too old, try following this advice:

http://fenicsproject.org/download/installation_using_conda.html#importerror-lib64-libc-so-6-version-glibc-2-14-not-found

[2015-03-10 12:39] roliveira commented on #2
Hi @Juanlu001,

I'm running CentOS 6.3 (no root access) and I've tried what you suggested. It worked but with one pitfall, I could not find the `boost-1.55.0-1` package when installing from the `fenics:1.4.0:centos` channel:

[code]

I solved this by adding the `juanlu001` as well as the `fenics:1.4.0:centos` channel.

[code]

And now I can install it using the `fenics=1.4.0` version.

[code]

How

[2015-03-10 13:17] astrojuanlu commented on #2
Thanks for the compliments! :) We are making progress. Thanks for telling me about boost, I screwed something up lately and will fix it ASAP.

It is strange that libbz2 is not found though, can you post the output of `whereis libbz2`? There is no conda package for it so let's see if it is just a version mismatch.

[2015-03-11 10:56] roliveira commented on #2
Well it turned out that `whereis libbz2` wasn't returning anything soon after I got it, another lib problem came out and so on. I would probably have to put this aside for now as I do not have much time to work on it right now...

Anyhow thanks for the help @Juanlu001!

[2015-03-11 11:12] astrojuanlu commented on #2
So you mean that you installed `libbz2` and then more lib problems came? Anyway I will leave this open so when you have some more spare time we can fix the issue. Thanks to you!

[2015-03-16 20:05] astrojuanlu commented on #2
I think I already fixed the broken channel thing. Closing this!

[2015-03-16 20:05] #2 closed, assigned to astrojuanlu

[2015-03-16 20:09] astrojuanlu opened #3 "Fix clang compilation on OS X"
I don't have access to a OS X machine but it should be easy to build the FEniCS packages there one and provide binaries. Anyone care to help?

[2015-03-16 20:36] roliveira commented on #2
I'm still on the same page... As soon as I can I'll try it again and will let you know!

[2015-03-17 00:12] roliveira commented on #3
Hey, it's me again!

Here is my list so far:
- [x] `fiat`
- [x] `ufl`
- [x] `instant`
- [x] `eigen3`
- [x] `boost`.
- [x] `petsc` --> https://binstar.org/guyer/petsc
- [x] `petsc4py` --> https://binstar.org/guyer/petsc4py
- [ ] `ffc`  --> I'm stuck here!
- [ ] `dolfin`
- [ ] `fenics`

[2015-03-17 16:14] ghost opened #4 "Error while building fenics using maint-1.4.0 branch of the recipes"
Hi,

I have problems installing fenics via conda in a (old) cluster running RHEL 5. Initial problems of trying to install fenics1.5 (error message: ImportError: /lib64/libc.so.6: version `GLIBC_2.14' not found), lead me to believe it's better to install 1.4 version. After communicating with juanlu001 about the similar error after installing fenics1.4 (ImportError: /usr/lib64/libstdc++.so.6: versio

[2015-03-17 17:53] astrojuanlu commented on #4
Hi @aradearh,

Well, this has nothing to do with the packages (yet), but apparently there was some problem with the download. I googled and found that these are due to an old git version:

https://help.github.com/articles/https-cloning-errors/

If you are not able to update your git version (which I suspect is the case) you will have to edit the recipe to make it download a zip instead of cloning

[2015-03-18 13:40] astrojuanlu commented on #3
Hello @oliveirarodolfo! Are you trying to compile these in OS X? Which specific problems are you having with FFC?

[2015-03-18 23:06] roliveira commented on #3
Hey @Juanlu001,

I am trying the OS X but right now this is what I get:

[code]

I'm not that sure where can I set the `make VERBOSE=1` flag. Any clue?

[2015-03-19 10:56] astrojuanlu commented on #3
In this cases what you should do is look for the error log, in this case `/Users/USER/.instant/error/ffc_form_93b539692c2d8961bd5535661fe4f1ae078b0307/compile.log`, and see its contents. Please upload it to gist.github.com so we can diagnose what it is happening here! I suspect this will have to be reported to the main devs though.

[2015-03-25 21:47] bcrestel opened #5 "ImportError when trying to import dolfin"
The installation went well. But when I open python from the fenics27 environment and type `from dolfin import *`, I get the following error msg:

[code]

Any idea?

[2015-03-26 17:16] astrojuanlu commented on #5
This is very weird, I have never seen an error like that and Google suggests some relationship with debug flags in Python. Can you post the output of these commands?

[code]

[2015-03-27 05:57] oseledets commented on #3
I have the same problem. The gist is here. https://gist.github.com/28d6895d38d39bff5a31
Apparently, it is this problem: http://stackoverflow.com/questions/13445742/apple-and-shared-ptr which probably can be fixed by passing correct flags to the clang compiler.

[2015-03-27 07:01] astrojuanlu commented on #3
Thanks for the heads up @oseledets, probably the compilation in OS X requires some specific tuning. The core devs already provide OS X 10.9 and 10.10 binaries so there must be a way - I don't have a Mac myself so if any of you care to ask for help in the mailing list we can make it :smile:

[2015-03-30 22:44] bcrestel commented on #5
I posted both outputs in the following github repo:
https://github.com/bcrestel/DebugFiles4FenicsOnConda

[2015-03-31 06:34] astrojuanlu commented on #5
It seems that you have the debug Python version installed somehow. Would you post the output of

[code]

to confirm?

In principle, removing the `debug` package should be enough to bring back the normal Python:

[code]

[2015-03-31 19:51] bcrestel commented on #5
You are correct; I have the debug version. I installed python 2.7.7 instead.
$ conda list
boost                     1.57.0                        0
cmake                     3.0.1                         0
dolfin                    1.5.0                np19py27_1
eigen3                    3.2.1                         0
fastcache                 1.0.2                    py27_0
fenics

[2015-03-31 20:57] astrojuanlu commented on #5
We're making progress then! What happens if you try to import ffc directly?
On Mar 31, 2015 9:51 PM, "bcrestel" notifications@github.com wrote:

[2015-04-02 18:15] astrojuanlu opened #6 "Specify boost 1.55"
Until ContinuumIO/anaconda-issues#247 is fixed, this will lead to errors with the boost version.

[2015-04-03 00:44] tengzhangjj opened #7 "DOLFIN has been configured without support for SCOTCH"
Fenics 1.4 installed with conda can only run in serial now, there will be error of missing SCOTCH when running in parallel:

"Reason:  DOLFIN has been configured without support for SCOTCH"

Thanks a lot.

[2015-04-06 14:16] astrojuanlu commented on #5
Hello @bcrestel, any progress with this?

[2015-04-09 10:17] kdma-at-dtu opened #8 "Unable to set up a conda environment to use FEniCS in"
@Juanlu001: I would like to create a conda environment to use FEniCS in. According to your instructions from https://github.com/Juanlu001/fenics-recipes/issues/1, I ran these commands:

$ conda create -n fenics27 python=2.7 ipython=2.2
$ source activate fenics27
(fenics27) $ conda install fenics --channel juanlu001

Unfortunately, after running the third command, I get:

Error: HTTPError: 404 Clie

[2015-04-09 10:45] astrojuanlu commented on #8
Hello @kdma-at-dtu, thanks for the report. This is my mistake because I screwed it up when uploading the packages (see https://github.com/Juanlu001/fenics-recipes/issues/2#issuecomment-78045015). I need to take the time to fix this properly, I will do this weekend.

In the meanwhile, install eigen3 from the `fenics:1.4.0:centos` channel:

[code]

[2015-04-09 11:41] kdma-at-dtu commented on #8
I installed eigen3 as you suggested, and followed it with:

(fenics27) $ conda install fenics --channel juanlu001

The installation went through without problems. Thank you for the suggestion!

However, when I run the FEniCS tutorial script d1_p2D.py, I get an ImportError pointing towards:

from dolfin import *

The further elaboration on this error is as follows:

ImportError: libboost_filesystem

[2015-04-09 12:12] astrojuanlu commented on #8
Can you post the output of `conda list`? I think I didn't specify correctly the required boost version (see #6) and perhaps you have the wrong version installed.

You should be able to install the correct boost version with:

[code]

[2015-04-09 13:25] kdma-at-dtu commented on #8
Thank you again for your feedback.

After installing "boost=1.55", I ran:

conda list

and got the following output:

[code]

Unfortunately, when I now run the FEniCS tutorial script d1_p2D.py, the following is shown:

ImportError: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `CXXABI_1.3.8' not found (required by /home/marinov/anaconda3/envs/fenics27/lib/python2.7/site-packages/dolfin/cpp/_co

[2015-04-09 13:35] astrojuanlu commented on #8
This perhaps means your system is too old. Can you tell which is your Linux distribution, and version? In this case you will have to use the packages from the `fenics:1.4.0:centos` channel as specified here:

http://fenicsproject.org/download/installation_using_conda.html#installation-using-conda

[2015-04-09 13:56] kdma-at-dtu commented on #8
My operating system is a 64-bit Ubuntu 14.04 LTS. Could you confirm if this indeed means that my system is too old?

[2015-04-09 14:09] astrojuanlu commented on #8
I was surprised to see it is indeed too old for these packages but I realized the core devs provide binaries of FEniCS 1.5 for 14.04 too, which means I can probably manage to recompile 1.5 to make it compatible with your distro. I won't be able to do it until this weekend, so you can either wait or use the 1.4.0 packages in the meanwhile.

[2015-04-09 14:10] astrojuanlu opened #9 "Recompile FEniCS 1.5 in an older system"
See #8.

[2015-04-09 14:23] kdma-at-dtu commented on #8
Thank you for all your attention and prompt feedback. Could you let me know when you have had a chance to recompile FEniCS 1.5 to make it compatible with Ubuntu 14.04 LTS?

[2015-04-09 14:24] astrojuanlu commented on #8
Sure, I will ping you in this same issue! :)

[2015-04-09 14:57] kdma-at-dtu commented on #8
Thank you!

[2015-04-10 18:09] astrojuanlu commented on #4
Hello @aradearh, I changed the recipe according to your feedback so git is no longer needed. This way we avoid problems with old git versions. I will update the packages this weekend so I consider this can be closed.

[2015-04-10 18:09] #4 closed, assigned to astrojuanlu

[2015-04-10 18:12] astrojuanlu commented on #9
Fixed title, I meant 1.5 all the time.

[2015-04-10 21:37] astrojuanlu commented on #7
I spent some time trying to get SCOTCH 6.0 to work and I am still failing. I am not sure I will be able to deliver the packages this weekend, perhaps I will need some more time.

[2015-04-11 13:16] tengzhangjj commented on #7
Thank you very much for your efforts on this.

Best regards,
Teng

2015-04-10 17:37 GMT-04:00 Juan Luis Cano Rodríguez <
notifications@github.com>:

[2015-04-22 02:07] xpqian opened #10 "FEniCS on Scientific Linux"
I am trying to use conda to install FEniCS on Scientific Linux release 6.3.

When I tried FEniCS 1.5, it gave me error: "ImportError: /lib64/libc.so.6: version `GLIBC_2.14' not found (required by /home/xqian29/anaconda/envs/fenics27/lib/python2.7/site-packages/ufc/_ufc.so)".

When I tried to install FEniCS 1.4 with the command "conda install "fenics=1.4.0" mkl --channel https://conda.binstar.org/j

[2015-04-22 03:17] xpqian opened #11 "local building error"
When I tried local building with "conda build boost eigen3 petsc petsc4py instant ufl fiat ffc dolfin fenics --python 27" on Scientific Linux release 6.3 (Carbon), it gave me the following error:

"Error: no such directory: /home/xqian29/boost"

Any help is greatly appreciated.

[2015-04-22 08:26] astrojuanlu commented on #10
Thanks for the bug report @xpqian. I will have to investigate it but this smells like a problem with the `slepc` package. I recall compiling it properly but I see a mismatch in the path of the library, would you please post the output of this commands?

[code]

[2015-04-22 08:30] astrojuanlu commented on #11
Hello @xpqian, you are probably in the wrong directory or first have to download the repository. I shall add these instructions to the `README`.

Please download https://github.com/Juanlu001/fenics-recipes/archive/maint-1.4.0.zip and then unzip it in your desired location.

[2015-04-22 13:29] xpqian commented on #10
Thank you for your response. Here are the outputs of the commands.

[xqian29@aci-service-1 python]$ conda info -a
Current conda install:

[code]

  conda-build version : 1.12.0
       python version : 2.7.9.final.0
     requests version : 2.6.0
     root environment : /home/xqian29/anaconda  (writable)
  default environment : /home/xqian29/anaconda
     envs directories : /home/xqian29/anaconda/en

[2015-04-26 18:34] twmr opened #12 "mshr"
please add the meshing tool `mshr` to your fenics recipes

[2015-05-01 14:32] DavidSanwald opened #13 "Trouble with fenics Binary installation using conda on Ubuntu 14.04.2 LTS"
Hello,

I'm trying to user fenics with the anaconda distribution on Ubuntu but somehow I can't get it to work properly.

After

[code]

I get

[code]

Trying what was suggested in another thread with a similar problem:

[code]

gave me

[code]

I'm not a very experienced user, so maybe I'm doing something wrong. Is there any way to solve this problem? I'd be very relieved if I could get help.

Sin

[2015-05-05 11:04] johannesring opened #14 "PETSc fails to build on OS X - Unable to find mpi in default locations!"
Error message:

[code]

The fix is to `conda install openmpi` and because of an issue with the OpenMPI package in conda, I also had to do the following:

[code]

Here, `~/anaconda` is the location of my conda installation.

[2015-05-05 12:06] johannesring opened #15 "Possible error when running PETSc tests on OS X"
When running the PETSc tests on OS X I see the following message:

[code]

[2015-05-05 13:22] johannesring opened #16 "FFC fails to build on OS X - error: no member named 'shared_ptr' in namespace 'std'"
Here is the full error message:

[code]

The following patch fixes the problem:

[code]

[2015-05-07 20:20] porphyrius commented on #8
Hi Juanlu,

I upgraded to ubuntu 15.04 and fenics stopped functioning, so I did
rm -fr anaconda
and reinstalled it.

Now I am reinstalling fenics using your fenics recipe, and I get the same as kdma-at-dtu:

conda install fenics mkl --channel juanlu001

Fetching packages ...
Error: HTTPError: 404 Client Error: NOT FOUND: https://conda.binstar.org/juanlu001/linux-64/eigen3-3.2.1-0.tar.bz2

however,

[2015-05-08 20:09] rwillmers opened #17 "Missing eigen3 package"
Hello, I'm not sure this is the correct place to report problems with conda installation of FEniCS, but there you go.
I think there may be a problem with file names of the eigen3 package. My installation fails with
(fenics27)ramiro@suse:~/anaconda> conda install -c https://conda.binstar.org/juanlu001 eigen3
Fetching package metadata: ......
Solving package specifications: .
Package plan for instal

[2015-05-10 16:56] astrojuanlu commented on #5
Closing this, feel free to reopen if error persists.

[2015-05-10 16:56] #5 closed, assigned to nobody

[2015-05-10 16:59] astrojuanlu commented on #17
Hello @rwillmers, thanks for the bug report and sorry for the delay. This is actually my fault because I had some problems with this specific package, I am going to fix this today once and for all.

[2015-05-10 16:59] astrojuanlu commented on #8
Hello @porphyrius, thanks for the comment and sorry for the delay. The problem you describe is now being tracked at #17.

[2015-05-10 17:00] astrojuanlu commented on #16
Thanks for the patch @johannesring and sorry for the delay! I will include it ASAP.

[2015-05-10 17:02] astrojuanlu commented on #14
I am familiar with the `/opt/anaconda1anaconda2anaconda3` issue, it used to happen to many packages and it is actually a problem from upstream. I will try to isolate the issue and report it in https://github.com/ContinuumIO/anaconda-issues.

[2015-05-10 17:04] astrojuanlu commented on #13
Hello @I-like-foxes, thanks for the bug report and sorry for the delay. This problem is the same as #17, so I will close this issue as duplicate. You can follow the discussion there, I will try to fix this within today.

[2015-05-10 17:04] #13 closed, assigned to nobody

[2015-05-10 17:08] astrojuanlu commented on #15
No idea why this might happen, I have other issues in the queue but will try to reproduce this if I have time. Do you think it might be a linking issue with the Intel libraries?

[2015-05-10 17:09] astrojuanlu commented on #12
Thanks for the suggestion @thisch and sorry for the delay!

If I understood correctly from here:

https://bitbucket.org/benjamik/mshr

The installation procedure is just `cmake . && make && make install` and the requirements are DOLFIN,  Gnu GMP and Gnu MPFR. Is that right?

[2015-05-10 17:14] twmr commented on #12
No, don't use https://bitbucket.org/benjamik/mshr. Use the repo from https://bitbucket.org/fenics-project/mshr instead. The default cmake installation procedure (`cmake . && make && make install`) should work. It should compile with the dependencies mentioned by you.

[2015-05-10 17:53] astrojuanlu commented on #17
Pinging @rwillmers @I-like-foxes and @porphyrius: I already cleaned everything upstream and eigen3 should be installable using the main channel. Can you check that this at least works? (That is: no 404 error in the last step)

[code]

Now I am going to update the dependency links of the rest of the packages just to make sure that nobody will encounter this problem ever.

[2015-05-10 18:46] astrojuanlu commented on #10
Hello @xpqian, I think I solve the issue with slepc. Could you please do the following steps?

[code]

The last line is the important one: build 3 is the updated build I just uploaded which should fix the problem.

[2015-05-10 18:52] #11 closed, assigned to astrojuanlu

[2015-05-10 18:58] astrojuanlu commented on #14
Actually, they already have this issue in their tracker: ContinuumIO/anaconda-issues#96.

[2015-05-10 21:53] rwillmers commented on #17
Jesus, you're fast ;)
You didn't even give me time to reply to the first message.
I was going to say that you didn't have to apologize for being late, it's
not like this it's your job or like you owe me anything.
The packaging you did will save me so much trouble in the future I don't
even know how to begin to thank you. ( I'm talking about fenics )
I'll check this out first thing tomorrow.
Many t

[2015-05-10 23:22] astrojuanlu commented on #17
Your kind words are highly appreciated :) Hope you are right and it
effectively ends up being useful!
On May 10, 2015 11:53 PM, "rwillmers" notifications@github.com wrote:

[2015-05-11 08:24] johannesring commented on #15
I am not sure. The tests pass, so this should not have top priority.

[2015-05-11 15:14] rwillmers commented on #17
We're almost there. I think there is still a problem with a module that is not been properly recompiled and depends on an older build:

ramiro@suse:~> ls ~/anaconda/envs
ramiro@suse:~> conda create --name fenics27 python=2.7
Fetching package metadata: ....
Solving package specifications: .
Package plan for installation in environment /home/ramiro/anaconda/envs/fenics27:

The following NEW packages

[2015-05-11 15:15] rwillmers commented on #17
Sorry! Pressed the wrong button! New at this!

[2015-05-11 15:16] rwillmers commented on #17
Sorry again :)
I didn't mean to close this issue! Please someone take me away from the keyboard before I break something!

[2015-05-14 12:04] astrojuanlu commented on #17
The boost requirement is my fault too, I will have to fix it. Regarding the g++ libraries... which is your operative system? Perhaps this is the same as #8 (see for instance https://github.com/Juanlu001/fenics-recipes/issues/8#issuecomment-91230825).

[2015-05-14 12:04] astrojuanlu commented on #17
For reference: the boost issue is #6

[2015-05-14 12:13] astrojuanlu commented on #17
We can go on with the conversation but the original issue can be actually closed :)

[2015-05-14 12:13] #17 closed, assigned to nobody

[2015-05-14 12:13] astrojuanlu commented on #6
I have to reupload the packages with the proper requirements uploaded.

[2015-05-14 15:26] rwillmers commented on #17
I'm sorry again :)
I thought it wasn't mine to close.

Hopefuly using e-mail I don't close or open anything inadvertently.

Many thanks again,

Ramiro.

On 14-05-2015 09:13, Juan Luis Cano Rodríguez wrote:

##

Ramiro Brito Willmersdorf  tel: +55-81-2126-8231r245 cel: +55-81-9966-2941
DEMEC/UFPE   hangouts:ramiro@willmersdorf.net   skype: ramiro.willmersdorf

[2015-05-29 16:52] bcrestel commented on #5
Sorry, we went a different route. Thanks for your help.

[2015-06-02 08:48] astrojuanlu commented on #9
FEniCS devs are about to drop Ubuntu Precise (12.04):

http://fenicsproject.org/pipermail/fenics/2015-June/002735.html

And the next supported version is Trusty (14.04 LTS):

https://launchpad.net/~fenics-packages/+archive/ubuntu/fenics

So now it's the perfect excuse to change the compilation system to Ubuntu 14.04, supported until 2019:

http://en.wikipedia.org/wiki/List_of_Ubuntu_releases#Versi

[2015-06-02 08:51] astrojuanlu commented on #8
Closing this issue in favor of #9, I plan to solve this probably this week.

[2015-06-02 08:51] #8 closed, assigned to astrojuanlu

[2015-06-02 08:53] astrojuanlu commented on #10
Closing this issue, feel free to reopen if it persists.

[2015-06-02 08:53] #10 closed, assigned to nobody

[2015-06-16 09:46] archwndas commented on #8
Dear Juan,

There is a problem installing on an older system.

[code]

I get the error

[code]

However, PYTHONPATH points to the correct directory. For example running `ls $PYTHONPATH` shows all the install packages (ufc, ufl, ffc etc.)

[code]

running ffc I get

[code]

Which means, that for compatibility you need to compile on a linux64 system with a very old glibc.

[code]

On Ubuntu 15.04

[

[2015-06-16 09:49] archwndas commented on #8
Dear Juan,

It would be nice if you could also provide with FEniCS the packages:
1. slepc
2. slepc4py

These are constantly missing but they are essential for eigenvalue problems where you want to choose your linear solver of choice and not the default one which is terribly slow.

[2015-06-16 10:04] archwndas commented on #8
Dear Juan,
Installed anaconda in Ubuntu 15.04. Then FEniCS. Trying to run the very simple poisson demo I got the error:

[code]

[2015-06-18 15:12] WilliamPJSmith opened #18 "Installing fenics into an existing conda environment: libcppunit"
Hi Juanlu,

I would like to use your recipe to install FEniCS into an existing miniconda environment.
This environment is designed to support a program called cellmodeller, which has its own python command _cmpython_. cmpython behaves like system python, but has all of its dependencies placed in a miniconda environment, stored under $HOME/miniconda.

To install, I tried

Which installs without com

[2015-06-18 15:13] WilliamPJSmith commented on #18
PS: to solve this, I also tried creating a new conda environment inside the original, and installing fenics in the inner environment, as per this recommendation: https://github.com/Juanlu001/fenics-recipes/issues/8

unfortunately, the installation isn’t visible to cmpython:

nor does this fix work for regular python (same problem as before):

Hope this is useful.
W

[2015-06-20 04:35] mzaffalon opened #19 "boost mismatch: fenics-recipes requires 1.55, conda provides 1.57"
`conda install fenics --channel juanlu001` installs boost 1.57.0-1 from Anaconda but `import dolfin` complains about missing `libboost_filesystem.so.1.55.0`:

[code]

I am on Debian testing, 64 bits. I am not sure if this is related to #6.

[2015-06-20 04:45] mzaffalon commented on #19
I see it is: ContinuumIO/anaconda-issues#247.

[2015-06-21 05:24] mzaffalon commented on #19
And `conda search boost` returns only version 1.57.0, so it is not even possible to force conda to install boost 1.55.

[2015-06-28 21:36] astrojuanlu opened #20 "Try building packages on anaconda.org"
This might ease the process once the recipes are proven to work. Perhaps try for next FEniCS release.

[2015-07-08 19:33] jonmilby opened #21 "DOLFIN runtime dependency is not met. Install the following python module: 'ffc' and make sure its location is listed in PYTHONPATH."
After installing Anaconda and fenics on CentOS 6.6 or 7, I am having an issue.
Running "from dolfin import *"

Fails with the error:
$ python template_timedep.py
Vendor:  Continuum Analytics, Inc.
Package: mkl
Message: trial mode expires in 30 days

DOLFIN runtime dependency is not met.
Install the following python module: 'ffc'
and make sure its location is listed in PYTHONPATH.

[2015-07-09 07:19] astrojuanlu commented on #21
Hello @jonmilby, could you please try `python -c "import ffc"`? This error is very common and has nothing to do with a missing ffc.

[2015-07-09 07:21] astrojuanlu commented on #19
You are right @michele-zaffalon, I don't know how much time do the Anaconda guys need to solve it, but still the wrong specification is a problem on my side already reported in #6. Closing this as duplicate.

[2015-07-09 07:21] #19 closed, assigned to nobody

[2015-07-09 07:25] astrojuanlu commented on #18
Hello @WilliamPJSmith, thanks for the bug report and sorry for the delay. I suspect that your Linux system is too old for this version of libcppunit (some old CentOS or Ubuntu?), so I suggest installing fenics 1.4.0 as explained in http://fenicsproject.org/download/installation_using_conda.html#importerror-lib64-libc-so-6-version-glibc-2-14-not-found. If everything works this way I will close the

[2015-07-09 07:26] astrojuanlu commented on #20
Now binstar.org is [anaconda.org](http://anaconda.org).

[2015-07-09 07:31] astrojuanlu commented on #8
Dear @archwndas,

The issue you point out in https://github.com/Juanlu001/fenics-recipes/issues/8#issuecomment-112367224 is due to the fact that you need to install FEniCS 1.4.0, as explained in http://fenicsproject.org/download/installation_using_conda.html#importerror-lib64-libc-so-6-version-glibc-2-14-not-found.

The second issue https://github.com/Juanlu001/fenics-recipes/issues/8#issuecomment

[2015-07-09 07:32] astrojuanlu opened #22 "Add FAQ to README"

[2015-07-09 07:48] #22 closed, assigned to nobody

[2015-07-09 07:51] astrojuanlu opened #23 "Support slepc and slepc4py"

[2015-07-09 14:29] astrojuanlu commented on #6
Notice that FEniCS 1.4.0 still requires the old boost.

[2015-07-09 14:30] astrojuanlu commented on #19
Well, Anaconda boost already has all the required libraries! :smile: Now there should be no further problems, but I will keep an eye on it just in case.

[2015-07-10 04:03] mzaffalon commented on #19
Not sure if you uploaded the new version, but if I follow the instructions here http://fenicsproject.org/download/#installation-from-conda-packages, I get the same error message, missing boost 1.55 library.

[2015-07-10 09:56] astrojuanlu commented on #19
`conda search boost` won't give 1.55, for that you also have to use my channel: `conda search boost -c juanlu001`

[2015-07-10 09:56] astrojuanlu commented on #19
And nope, I didn't upload the new versions yet - I am in low connectivity until next week unfortunately :/

[2015-07-10 15:55] mzaffalon commented on #19
No problem. libblas seems to be missing.

[2015-07-10 16:02] astrojuanlu commented on #19
Is libblas missing? In theory it should be provided by mkl, did you install
it?
On Jul 10, 2015 5:55 PM, "michele" notifications@github.com wrote:

[2015-07-10 16:08] mzaffalon commented on #19
That was missing.

On Fri, Jul 10, 2015 at 6:02 PM, Juan Luis Cano Rodríguez <
notifications@github.com> wrote:

[2015-07-17 10:12] zhuliwuhan opened #24 "Error occurred when import dolfin module"
Hi,
My OS is ubuntu 14.04. I am using Anaconda Python distribution.
I run the line "conda i nstall fenics mkl --channel juanlu001" to install fenics

But something went wrong as I import dolfin. Error information as follow:
'' libboost_filesystem.so.1.55.0: cannot open shared object file: No such file or directory ''

I found that there is '' libboost_filesystem.so.1.57.0"  file in my
computer. Ho

[2015-07-18 07:41] GaZ3ll3 commented on #16
this indeed fix the share_ptr problem, but cannot pass the tests. The problem is building with LLVM clang flag `stdlibc++` says this needs MACOS_DEVELOPMENT_TARAGET to be larger than or equal to 10.7. while the Apple's document seems only documented that this env value can only be 10.6 or below...

I use --no-test to jump over the tests part and continue with dolfin and fenics(already built other

[2015-07-18 22:01] GaZ3ll3 commented on #24
possibly duplicate here with #8 , you can install libboost 1.55 on your own.

[code]

however, I encountered this before on 14.04, the `libboost` problem was gone , but `libcppunit` problem will come out, use `apt-get libcppunit-1.13.0` can fix, while finally, a problem related to `libstdc++` will come up.

[code]

which indicates

[code]

which means `gcc-4.8` is kind of old for building. Probabl

[2015-07-19 20:51] astrojuanlu commented on #24
Thanks @zhuliwuhan for the bug report and @GaZ3ll3 for the detailed walkthrough. I am trying to reproduce your steps but I am facing an unrelated error.

On the other hand, unless there is no other way I will try to use all the default packages in Ubuntu 14.04 for building.

[2015-07-19 22:10] astrojuanlu commented on #6
No longer needed, closing.

[2015-07-19 22:10] #6 closed, assigned to nobody

[2015-07-19 22:11] astrojuanlu commented on #21
Feedback needed, please reopen if error persists.

[2015-07-19 22:11] #21 closed, assigned to nobody

[2015-07-19 22:13] astrojuanlu commented on #18
Feedback needed, please reopen if error persists.

[2015-07-19 22:13] #18 closed, assigned to nobody

[2015-07-20 08:00] zhuliwuhan commented on #24
Thanks @GaZ3ll3  and @Juanlu001 . I  installed libboost 1.55 as @GaZ3ll3  mentioned,  however another problem related to "libblas.so" come up. So I am still stuck in there.

I went back to installation webpage on Fenicsd Project. There is another way to install by using Ubuntu PPA. So I added the FEniCS PPA to my system to get  the latest FEniCS release.  See here http://fenicsproject.org/download

[2015-07-20 08:02] astrojuanlu commented on #24
Exactly, I can't find "libblas.so" either. That is what I am trying to fix now.

[2015-07-20 09:51] #23 closed, assigned to nobody

[2015-07-20 10:03] astrojuanlu commented on #24
I uploaded a new dolfin package which should fix the libblas linking problem and the boost version specification. Could you please confirm if it works? Do `conda install dolfin --channel juanlu001`.

[2015-07-20 10:03] astrojuanlu commented on #9
Done compilation on Ubuntu 14.04 and uploaded new versions, closing.

[2015-07-20 10:03] #9 closed, assigned to astrojuanlu

[2015-07-20 10:05] astrojuanlu commented on #8
@kdma-at-dtu I just recompiled FEniCS 1.5.0 in Ubuntu 14.04, please ping me if you give it a try :)

[2015-07-20 10:15] astrojuanlu commented on #20
The problem with FEniCS comes when adding VTK support, since it requires an OpenGL implementation. Apparently it is not possible to install new system packages in anaconda.org builds because it requires root access, see for instance:

https://binstar.org/jf/opencascade_community_edition/builds/9/0

cc @gmarkall

[2015-07-20 14:43] GaZ3ll3 commented on #24
I kinda know why mine works, I have already MKL installed and configured the path, and I looked at the installation log, it seems BLAS dir is already detected somehow.

[2015-07-20 14:58] gmarkall commented on #20
One possible workaround for this is to run your own build worker that you have control of on a local machine - some documentation for how to do this is at: http://docs.binstar.org/build-config.html#BuildWorkers - the docker image for the build worker that you could use as a starting point is at: https://registry.hub.docker.com/u/continuumio/binstar-build-linux64/ - perhaps a setup with this could

[2015-07-20 15:38] astrojuanlu commented on #20
The thing is that OpenGL is not a build requirement, but a runtime one. In fact, I could build FEniCS properly configured with VTK without any OpenGL implementation available - but I would not be able to test it, even though the only test I'm running for DOLFIN is `import dolfin`. Apparently many shared libraries are loaded at import time, and if DOLFIN was configured with VTK support it will call

[2015-07-21 11:08] astrojuanlu commented on #24
I have tried the new packages in a couple of different distros and everything seems to work. I am closing this issue, please don't hesitate to reopen if it persists or open a new one.

[2015-07-21 11:08] #24 closed, assigned to nobody

[2015-07-21 21:32] zhuliwuhan commented on #24
Thank you @Juanlu001 and @GaZ3ll3. Everything works fine now after updating the dolfin package.

[2015-07-21 21:33] twmr commented on #12
Any updates on this?

[2015-07-21 21:47] astrojuanlu commented on #12
No updates, I was focused on solving some pending issues with DOLFIN. I will work on this next, thanks for the remainder.

[2015-07-21 22:06] twmr commented on #12
Great to hear this. Thx!

[2015-07-27 16:55] astrojuanlu commented on #14
@johannesring Could you please test if the issue with the mpi package is still present? It would be nice it we could solve some OS X related problems, but this one does not depend on us.

[2015-07-27 16:58] astrojuanlu commented on #16
This patch will be no longer needed when 1.6.0 are tagged (which hopefully will happen soon), so @GaZ3ll3 may I ask you to try this again this week? I will likely create a new branch tomorrow for the new version of FEniCS.

[2015-07-27 17:21] GaZ3ll3 commented on #16
@Juanlu001 I patched that by typing the path(on osx), if on linux, it works well. I tried to run your build on my osx with conda, building dependencies of dolfin is fine, while building dolfin, it will throw some errors that seems not easily to be resolved.

I found a list of dependencies of fenics from hashdist, looked for some conda packages to replace them, I am not sure if porting those depend

[2015-08-25 13:07] johannesring commented on #14
@Juanlu001 - yes, the PETSc build still fails when I remove the `/opt/anaconda1anaconda2anaconda3` link.

If I add the link back, I now get the following error when the build runs the PETSc tests:

[code]

[2015-08-27 15:07] RafalSkolasinski commented on #12
There are people in our group who would also be happy for having mshr with conda : - )

[2015-08-27 15:21] basnijholt commented on #12
I've been waiting for this too :+1:

[2015-08-29 08:03] astrojuanlu commented on #12
By popular acclaim, I am working on it right now :)

[2015-08-29 08:06] RafalSkolasinski commented on #12
It's great to hear that :)

[2015-08-29 08:57] astrojuanlu opened #25 "Proper swig version not found when building packages"
Reported by @RafalSkolasinski: The message `Error: No packages found in current linux-64 channels matching: swig >=3.0.` appears even if swig 3.0.5 from @oliveirarodolfo is installed. Having it installed is not enough, so I will have to provide the recipe too.

[2015-08-29 08:59] astrojuanlu commented on #12
I just added a mshr recipe, but haven't uploaded the package yet because I am not sure how to run the tests. @thisch could you give me a pointer? Here is the source: https://github.com/Juanlu001/fenics-recipes/tree/4b99e6460cff4fead00c7466ef79d4fdf34d5b0a/mshr

[2015-08-29 09:07] #25 closed, assigned to astrojuanlu

[2015-08-29 09:14] astrojuanlu commented on #14
That's strange though... In principle the MKL libraries should be installed as a dependency and they are linked here: https://github.com/Juanlu001/fenics-recipes/blob/11bab26081f2afcf6b9d70d6feb725fada6f927f/petsc/build.sh#L7 It can be an issue of the MKL package on OS X or the directory being incorrect.

[2015-08-29 10:19] RafalSkolasinski opened #26 "link with PETSc fails"
Hi, I just tried to do local build as readme says and I have following error:

[code]

Also I had to do `conda instal jinja2' first.

[2015-08-29 10:38] astrojuanlu commented on #26
Hi! Could you specify which OS are you trying, attach `arch-linux2-c-debug/conf/configure.log` (maybe to http://gist.github.com) and at which step of the process did this happen? You can also try to build the packages individually, but I am sure that some of them were built successfully already.

[2015-08-29 10:55] RafalSkolasinski commented on #26
Here are last lines on my terminal: http://pastebin.com/4mvHxHiH
And here is 'configure.log file': http://pastebin.com/rnFEF91r

My operating system is ubuntu 14.04

On Sat, Aug 29, 2015 at 11:38 AM, Juan Luis Cano Rodríguez <
notifications@github.com> wrote:

[2015-08-29 11:13] astrojuanlu commented on #26
So the problem is with SLEPc, I will have to check that. I see in the config file that the PETSc directory is wrong, so perhaps that's the issue.

[2015-08-29 11:45] astrojuanlu commented on #26
Oh no, it was more subtle than that... See at the bottom of the config file:

`make: /usr/bin/sh: Command not found`

https://bitbucket.org/fenics-project/dolfin/issues/550/make-usr-bin-sh-command-not-found-in-fresh

If you have the time, would you please send a corresponding email to fenics-support@fenicsproject.org? I guess many people will encounter this issue... Closing.

[2015-08-29 11:45] #26 closed, assigned to nobody

[2015-08-29 20:20] twmr commented on #12
If you want to run the tests (at compile time) you have to set the `ENABLE_TESTS` cmake option with `-DENABLE_TESTS=1` before compiling mshr. Then you can run `make test` in the build directory.

HTH

[2015-08-30 09:34] #12 closed, assigned to astrojuanlu

[2015-08-30 09:35] astrojuanlu commented on #12
Just added the complete recipe and uploaded the package. People watching this issue, please test it and open an issue if something goes wrong :)

[2015-08-30 15:15] basnijholt commented on #12
Great! Thanks a lot.

On Sun, Aug 30, 2015 at 11:35 AM, Juan Luis Cano Rodríguez
notifications@github.com wrote:

[2015-09-01 09:20] johannesring commented on #14
Could it be that I need a license for using MKL? I remember seeing something about a trial period when I first installed this.

[2015-09-01 11:57] astrojuanlu commented on #14
On 2015-09-01 11:20, Johannes Ring wrote:

Sounds strange to me, since a "trial period" should actually give access
to the libraries while it's active, but might be... If the error
disappears with a license then it's definitely Continuum's fault.

[2015-09-01 12:33] johannesring commented on #14
It's been a few months since I did this and I guess my 30-day free trial period has expired: http://docs.continuum.io/mkl-optimizations/index

[2015-09-01 12:40] astrojuanlu commented on #14
On 2015-09-01 14:33, Johannes Ring wrote:

Oh well, then definitely it makes sense that it's not finding the
libraries. Do you have a way to get a license?

[2015-09-02 09:22] dlouk opened #27 "DOLFIN swig version is not the same as extension module swig version: '3.0.5' != '3.0.7' ."
Hi,

first of all many thanks for all the work and effort you have put in this.

I encounter the following error when I try to run an example script called run_lshape_DL.py, using the Anaconda distribution and FEniCS on Ubuntu 14.04 LTS. The error happens also with any of the examples provided in the FEniCS tutorial webpage.

[code]

Any advice is welcome!

Dimitris

[2015-09-02 09:35] astrojuanlu commented on #27
Hi @dlouk, thanks for your nice comments :) You are totally right, I'm providing the wrong version of SWIG in my packages. I will try to fix that today, shouldn't take much time.

[2015-09-02 13:36] mthewissen opened #28 "Wrong paths on DOLFIN errors"
[code]

This error was produced by the code below. I encountered other `Unable to successfully call PETSc function`-errors, too.

[code]

[2015-09-03 11:43] astrojuanlu commented on #28
There's definitely something happening if my paths appear in your computer. I'll have a look.

[2015-09-03 16:09] jbcolli2 commented on #21
Hello,
   I am also having this problem as well.  I am running Spyder on a Mac with Yosemite.  I get the exact same error message.  I tried running python -c "import ffc" and it has not fixed the problem.  Can you please explain what the problem is?

[2015-09-03 16:48] astrojuanlu commented on #21
Hello @jbcolli2, what is the error message that you see when you try `python -c "import fcc"`?

[2015-09-04 10:55] mthewissen opened #29 "Local building of 1.4.0 fails for scotch"
I tried to create a new anaconda + fenics install, so here is what I did:
1. Install/unpack anaconda and append it to path
2. Using this conda, run `conda install conda-build`
3. Then when I attempt to build all packages (`conda build boost eigen3 scotch petsc petsc4py slepc scientificpython instant ufl fiat ffc dolfin fenics --python 27`) I get the error below for scotch:

[code]

For scientific

[2015-09-04 11:43] astrojuanlu commented on #29
Thanks for the report @mthewissen, I suspect there's some misconfiguration regarding MPI, hence the line `common.h:105:28: error: mpi.h: No such file or directory`. I probably I left an unfinished work after trying to fix #7, but I fear there are other issues above this one on the queue. If you manage to fix it please don't hesitate to send a PR.

[2015-09-04 15:38] jbcolli2 commented on #21
Hello @Juanlu001 ,
   There actually wasn't an error message.  Executed the command in the terminal with Spyder closed.  I opened Spyder and tried to run a Fenics program and got the same message as above.

[2015-09-04 15:42] astrojuanlu commented on #21
I didn't quite understand, would you please try typing in a Python or IPython terminal

[code]

and paste the output?

[2015-09-04 16:02] jbcolli2 commented on #21
I have two python terminals I can use.  The one I get through the Mac
terminal will import ffc fine.  This is because the mac terminal is set up
to run Fenics.  When I type in "import ffc" to the python terminal in
Spyder I get the following message:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named 'fcc'

Do you think the problem is with Spyder

[2015-09-04 16:18] astrojuanlu commented on #21
On 2015-09-04 18:02, Jeb Collins wrote:

Yes, it definitely looks like a misconfiguration in Spyder then. I am
sorry but I cannot help with that :/ You can try printing `sys.path` to
see if something is wrong or asking in sites like superuser.com.

[2015-09-04 16:33] jbcolli2 commented on #21
Ok, thanks for your help.

On Friday, September 4, 2015, Juan Luis Cano Rodríguez <
notifications@github.com> wrote:

##

J.B. Collins, Ph.D
West Texas A&M University
Department of Mathematics
CC 421D
806-651-5260

[2015-09-06 03:17] sakhan007 opened #30 "Unable to import the Python Scientific module required by FIAT"
Would you please help in getting rid of this error!!

[code]

[2015-09-06 07:45] astrojuanlu commented on #30
Hello @sakhan007, would you please paste here the result of

[code]

and, if it fails, `conda list`?

[2015-09-06 07:52] astrojuanlu commented on #28
By the way @mthewissen, while I figure out how to fix the paths issue, would you also ask about the error in the fenics-support mailing list or http://fenicsproject.org/qa? Maybe if there's something wrong with the code itself we'll get some hint.

[2015-09-06 07:53] astrojuanlu commented on #28
For reference, error 73 is "object in argument is in wrong state, e.g. unassembled mat".

http://www.mcs.anl.gov/petsc/petsc-master/include/petscerror.h.html

[2015-09-06 08:14] sakhan007 commented on #30
Here it is: http://pastebin.com/bqKZcC4G
As you can see at the end,  scientificpython is already among the conda packages.

[2015-09-06 08:26] sakhan007 commented on #30
Hey Juanlu001, thanks for looking into it.
I just have another look at my first post and found this:

[code]

and this left me wondering, why this location is being used. I had a clone of fenics in `/home/sohail/learning/FEM/` and this is forcing python to go there instead of /anaconda/.
Once the fenics clone is moved out, I can run my programs.

[2015-09-06 08:35] astrojuanlu commented on #30
Oh, the problem was fixed then? :grin:

Probably there's something in your `PATH` variable (try

[code]

to check). Next time you can try using a conda environment, to isolate everything except what you want.

Closing!

[2015-09-06 08:35] #30 closed, assigned to nobody

[2015-09-06 08:49] sakhan007 commented on #30
Thanks!!!!

[2015-09-06 08:59] astrojuanlu commented on #30
Sorry, didn't look at the log until now. You mistyped `Scientific` and wrote `Scientfic` instead, by the way.

Python starts its search using an environment variable called `PYTHONPATH`, and if someone manually prepended a path to that variable it will be used first. You can check in Bash (outside Python) typing:

[code]

[2015-09-06 09:03] sakhan007 commented on #30
You are right, `fenics.conf` was being executed from the clone in .bashrc.
Apologies.

[2015-09-06 09:04] astrojuanlu commented on #30
You are welcome! I am glad I could help :smile:

[2015-09-06 09:22] astrojuanlu commented on #27
I just uploaded new versions of dolfin and ffc which in principle specify the right swig version. Could you please try updating and see if the issue is gone? If it is we can close the issue :)

[2015-09-06 09:26] astrojuanlu commented on #7
Closing this in favor of #29.

[2015-09-06 09:26] #7 closed, assigned to nobody

[2015-09-06 09:44] sakhan007 opened #31 "No rule to make target `/usr/lib/gcc/x86_64-linux-gnu/4.8/libgfortran.so'"
I tried `$ instant-clean` but it did not solve this problem.

[code]

The compile.log, mentioned in the above error log is: http://pastebin.com/U7fhfEiX

[code]

The conda list: http://pastebin.com/43KDy6K3

[2015-09-06 10:06] astrojuanlu commented on #31
I am unable to reproduce this. Could you please paste `conda info -a` so we can see the environment variables too? In the meanwhile, please do `conda update --all` in the environment.

[2015-09-06 15:30] sakhan007 commented on #31
After doing `conda update --all`, the `conda info -a` returns: http://pastebin.com/Bj38KQEh

[2015-09-06 19:22] astrojuanlu commented on #31
I don't think this will solve the issue, but just to check: would you try this?

[code]

In the meanwhile, more questions:
- I assume you're using Ubuntu 14.04, am I right?
- Is libgfortran installed in your system? In other words, is the file `/usr/lib/gcc/x86_64-linux-gnu/4.8/libgfortran.so` present in your system?

If you don't have libgfortran, then you will need it. There might be a way to pr

[2015-09-06 19:25] astrojuanlu commented on #31
For the record: there's actually the option to install gfortran and libgfortran in conda: https://groups.google.com/a/continuum.io/d/msg/conda/HZlV2LXxWhs/UM_EgEeiYZIJ.

[2015-09-06 20:48] sakhan007 commented on #31
Here is the answer to every question I was asked: http://pastebin.com/0h7kN2NP
I don't think I need to install libgfortran, correct???
`~.instant/` contained too many files, so here is the archive: https://www.sendspace.com/file/31ecqv

[2015-09-06 21:26] astrojuanlu commented on #31
Actually, as a last step, try to remove libgfortran from conda (`conda remove libgfortran`). If that doesn't work, I will have to inspect your files...

[2015-09-06 21:31] sakhan007 commented on #31
`conda remove libgfortran` removed libgfortran as conda package.

[2015-09-06 21:31] astrojuanlu commented on #31
Yes, I meant to try to rerun the script without the `libgfortran` conda package.

[2015-09-06 21:34] sakhan007 commented on #31
https://www.sendspace.com/file/molvi8

[2015-09-06 21:40] sakhan007 commented on #31
The above archive is when I run `possion_convergence1.py` and here is when I run `test.py`: https://www.sendspace.com/file/myowfl after `instant-clean`

[2015-09-06 21:49] astrojuanlu commented on #31
The conflict with `libgfortran` dissapeared now, but apparently you mistyped the expression in the last case:

[code]

[2015-09-06 21:59] astrojuanlu commented on #31
Holy sh*t, now I found what's happening. You have an older version of gfortran than me! The program is looking for 4.8 and you have 4.6 (https://github.com/Juanlu001/fenics-recipes/issues/31#issuecomment-138124574). Can you confirm again what is your Linux distro and version? Now everything makes sense, but I'll have to figure out how to fix it.

[2015-09-06 23:05] sakhan007 commented on #31
Thanks for being so kind.

[code]

Updated archive after correcting the mistyping in test.py: https://www.sendspace.com/file/c9pp7i

[2015-09-06 23:16] sakhan007 commented on #31
Moreover my gcc version is 4.8.1 and gfortran is 4.6.4. I always thought that gfortran comes with gcc.

[2015-09-07 19:22] astrojuanlu commented on #31
On 2015-09-07 01:16, sakhan007 wrote:

I assume that you cannot upgrade either gfortran or Ubuntu (FEniCS
developers dropped Ubuntu 12.04 testing this year), so there are two
options:
- Try FEniCS 1.4.0, which in principle is compiled for older Linux versions, or
- Wait for me to compile FEniCS 1.6.0 with the conda `gfortran` and `libgfortran` packages. Unfortunately I won't have time to do it unt

[2015-09-07 20:48] dlouk commented on #27
Sorry for the late reply. I am on a short vacation, so I will check first thing on Wednesday. Thanks for the update!

[2015-09-08 15:11] mthewissen commented on #28
I encountered the problem in this qa question.
http://fenicsproject.org/qa/7954/apply-dirichlet-boundary-conditions-using-matrix-free-method

I also asked a new one:
http://fenicsproject.org/qa/8060/petsckrylovsolver-wont-solve-in-version-1-4-0

Thanks for looking into it

[2015-09-08 16:42] astrojuanlu commented on #28
So it works on 1.6 and not on 1.4, right? Please ping me if someone else proves it right on FEniCS Q&A so I can focus on fixing the paths issue :) Thanks!

[2015-09-08 21:36] mthewissen commented on #28
Correct. However, for 1.6 I use the FEniCS version from the ubuntu
repositories (no conda) so I am not sure if that is much help.

On 8 September 2015 at 18:42, Juan Luis Cano Rodríguez <
notifications@github.com> wrote:

[2015-09-09 07:45] sakhan007 commented on #31
I can upgrade gfortran and Ubuntu both as I have super user right.
What do you suggest?

[2015-09-09 08:47] astrojuanlu commented on #31
Sorry, I automatically assumed you were in a shared server or something!

Well, if you find a way to install gfortran 4.8 in your Ubuntu version that would be perfect. Obviously upgrading to a newer version of Ubuntu also would work but I understand that this can be a total mess.

Anyway, if you are not in a hurry and wait for the new package I would use your help to try if everything works :)

[2015-09-09 09:47] sakhan007 commented on #31
Ok I will wait.

[2015-09-09 15:35] dlouk commented on #27
It seems to be working fine now. I guess that you can close the issue now.

[2015-09-09 19:33] astrojuanlu commented on #27
Perfect, thanks! :smile:

[2015-09-09 19:33] #27 closed, assigned to astrojuanlu

[2015-09-11 09:54] astrojuanlu commented on #31
I'm getting some errors while trying to build instant with anaconda gcc and gfortran:

https://groups.google.com/a/continuum.io/d/msg/anaconda/lmJatGVqklU/QVIfYFkWCAAJ

[2015-09-12 23:20] mthewissen commented on #28
If you check the second Q&A question, you will notice that a solution was posted to get rid of the error. Another `Unable to successfully call PETSc function`-error was also solved (mistake from me), so that leaves you with the question why your path appears.

[2015-09-13 08:25] astrojuanlu commented on #28
Thanks for the update! I will change the title accordingly then.

[2015-09-13 08:40] astrojuanlu commented on #31
There are some suggestions to improve portability here:

https://github.com/conda/conda-recipes/pull/279#issuecomment-98254389

I would need to see how to fit them into instant. I might need to submit an upstream patch, but definitely I will need to look at it with some care. @sakhan007 You should probably update gfortran because I will need some weeks to get this right.

[2015-09-14 08:16] sakhan007 commented on #31
Does just updating gfortran would do the trick? or I have to build the whole fenics afterwards??

[2015-09-14 08:47] astrojuanlu commented on #31
In principle updating gfortran should be enough.
On Sep 14, 2015 10:16 AM, "sakhan007" notifications@github.com wrote:

[2015-09-23 18:56] stuarteberg commented on #31
Hey guys, I didn't read the above thread too closely, but I noticed you referenced conda/conda-recipes#279.

Just FYI, for best results, you should use the latest version of the `gcc` package, which is only available via the `asmeurer` channel:  `conda install -c asmeurer gcc=4.8.5`.  That version also includes some important fixes from conda/conda-recipes#401.

(BTW, the `gcc` package includes `g

[2015-09-24 10:40] garth-wells commented on #16
I'm seeing this error on someone's OSX machine, but I haven't seen it on any other OSX systems, including my own. OS and XCode are up-to-date. Any ideas what could be causing the problem on one particular machine?

[2015-09-28 12:32] porphyrius opened #32 "No module named dolfin"
Hi Juan,

I keep having problems with the installation of Fenics from Conda.

This is what I did:

[code]

but then:

[code]

This is my environment:

[code]

[2015-09-28 12:42] astrojuanlu commented on #32
Hello @porphyrius, what is happening is that the IPython that you are launching is not part of the conda installation and therefore is not seeing the FEniCS installation. Try again after `conda install ipython`, and if it still doesn't work please reopen the issue and paste the output of `conda list`.

[2015-09-28 12:42] #32 closed, assigned to nobody

[2015-09-28 12:53] porphyrius commented on #32
Thanks a lot @Juanlu001,
that was exactly what was happening, it's ok now!

[2015-10-07 10:21] e-aranda opened #33 "VTK version is too recent"
Hi,

I have installed fenics following instructions from "Binary installation using conda" and importing dolfin gives me the following error:
ImportError: libvtkWidgets.so.5.10: cannot open shared object file: No such file or directory

Any hints?

Thanks,
Ernesto

[2015-10-07 22:39] astrojuanlu commented on #33
Hi Ernesto, could you check if VTK is installed?

[code]

Otherwise you will have to install it. If it is not installed it's strange because it's listed as a requirement of DOLFIN, and if it is installed then I will have to investigate why the library is not found.

[2015-10-08 07:31] e-aranda commented on #33
Yes,
$ conda list vtk
gives

[code]

There many libvtk\* files in anaconda/envs/fenics27/lib
but libvtkWidgets\* is missing.

[2015-10-08 09:37] e-aranda commented on #33
Sorry, I meant in anaconda/lib there many libvtk\* files.

[2015-10-09 07:15] astrojuanlu commented on #33
Make sure which environment are you using (the root one or `fenics27`). Anyway it seems likely that I did not put a constraint on the VTK version and the one that got installed is too recent. Try this:

[code]

So I will have to update the packages to avoid this.

[2015-10-09 09:32] e-aranda commented on #33
I have downgraded the vtk version, but the result is the same, but now, libvtkWidgets is there !!!

Look:

[code]

Now, I understand nothing!

[2015-10-09 10:15] astrojuanlu commented on #33
I think you installed VTK in the root environment, but FEniCS in fenics27!
Can you try these commands?

$ source activate fenics27
(fenics27) $ conda list
On Oct 9, 2015 11:32 AM, "e-aranda" notifications@github.com wrote:

[2015-10-09 10:31] e-aranda commented on #33
Yes, you are right! Here, vtk is in 6.3.0 version. I don't know how conda works? How can I do?

[code]

[2015-10-09 10:47] astrojuanlu commented on #33
In that case, you have to downgrade VTK in the right environment and
everything should woerk :)
On Oct 9, 2015 12:31 PM, "e-aranda" notifications@github.com wrote:

[2015-10-09 11:27] e-aranda commented on #33
Yes!!!!

Thank you very much!!

[2015-10-15 15:59] e-aranda opened #34 "RuntimeError in demos"
Hi,

I have installed fenics using conda and when I try some demos from fenics I find the following error:

[code]

Looking into the file compile.log there is:

[code]

And checking my system, I realize that I have not gcc in 4.8 version but 4.9 and 4.9.2. I don't  know what to do.
At the beginning of compile.log, the C compiler is correctly identified as 4.9.2

[2015-10-15 16:05] astrojuanlu commented on #31
Hi @stuarteberg, do you know if the Anaconda guys already pushed the latest fixes to the main channel? I'm waiting for that to fix my own packages. Thanks!

[2015-10-15 16:07] astrojuanlu commented on #34
Hello @e-aranda, thanks for reporting this issue. This is probably a duplicate of #31, since right now the packages are not completely portable and depend on having a certain path of the gfotran 4.8 libraries. I am waiting for a fix from upstream, in the meanwhile all I can tell you is to downgrade your compiler.

[2015-10-15 16:22] stuarteberg commented on #31
It looks like they finally did:
https://anaconda.org/anaconda/gcc/files

[code]

[2015-10-15 16:23] astrojuanlu commented on #31
Thanks a lot for your answer, I will try to fix our issues now.

[2015-10-16 07:18] #31 closed, assigned to astrojuanlu

[2015-10-16 08:37] astrojuanlu commented on #34
Closing this as a duplicate.

[2015-10-16 08:37] #34 closed, assigned to nobody

[2015-10-16 08:38] astrojuanlu commented on #31
I pushed some changes that should fix these issues, but now I'm getting build errors related to PETSc. This is the neverending story :)

[2015-10-16 08:53] astrojuanlu commented on #33
Working on this, getting unrelated build errors now. Coraggio!

[2015-10-16 11:55] #33 closed, assigned to nobody

[2015-10-16 12:48] astrojuanlu commented on #31
New packages uploaded. @e-aranda @sakhan007 Could you try updating DOLFIN to see if the errors are gone already? In principle the packages should be much more portable now.

[2015-10-17 13:42] ghost commented on #24
Hi @Juanlu001, I am trying to install FEniCS via your channel. Upon running the demo `~/.anaconda3/envs/fenics27/share/dolfin/demo/documented/poisson/python/demo_poisson.py` I get an error related to `boost`:

[code]

Apparently FEniCS/Dolfin is trying to use the system version of boost instead of the one from your channel.

ps: I am on Arch Linux and I am using the Python 3.x version of Anaconda.

[2015-10-18 15:07] astrojuanlu commented on #24
Hello @cfbaptista, that is strange. Can you try the following and post the outputs somewhere? (Maybe gist.github.com)

[code]

[2015-10-18 15:43] Juanlu001 commented on #24
Hello @cfbaptista, that is strange. Can you try the following and post the outputs somewhere? (Maybe gist.github.com)

[code]

[2015-10-18 16:58] ghost commented on #24
Hi @Juanlu001, I have posted the output you requested at [this](https://gist.github.com/cfbaptista/37d95323b8a64623ee08#file-fenics_terminal_output) gist. Thanks for your support!

[2015-10-18 17:26] astrojuanlu opened #35 "libstdc++.so.6: version `GLIBCXX_3.4.20' not found"
Originally reported by @cfbaptista, see output [here](https://gist.github.com/cfbaptista/37d95323b8a64623ee08).

Apparently the program is trying to use system boost, which makes no sense. Could you try `instant clean` inside the environment an try again the example, just in case?

Also, please try this command, the important one:

[code]

[2015-10-18 17:26] astrojuanlu commented on #35
For reference: reported at https://github.com/Juanlu001/fenics-recipes/issues/24#issuecomment-148916949

[2015-10-18 17:26] astrojuanlu commented on #24
I opened a new issue to discuss that, please head there. Thanks!

[2015-10-18 18:06] ghost commented on #35
I tried running the demo again after trying `instant-clean` inside the environment as you proposed: no joy. In [this](https://gist.github.com/cfbaptista/667569026af83c15cfe3) gist you can find the output of

`$ strings /usr/lib64/libstdc++.so.6 | grep GLIBCXX`

[2015-10-19 07:53] e-aranda commented on #31
Juan Luis,

thanks for your effort, but...
I installed gcc-4.8 in my system and everything was fine. In order to try the new packages, I uninstalled gcc-4.8 and update dolfin from your channel. Then, running demo_poisson.py gives the following:

[code]

 How can I undo the changes I made?

Ernesto

[2015-10-19 08:07] astrojuanlu commented on #35
I get the same error on my system (I also use Arch Linux). I am a bit lost now, since according to that output the stated version of GLIBCXX is indeed available. Investigating...

[2015-10-19 08:10] astrojuanlu commented on #35
I don't understand why it is considering system boost first, and that might actually be the source of the problem:

[code]

FEniCS is trying to use conda libstdc++, but system boost. I don't know why yet.

[2015-10-19 08:16] astrojuanlu commented on #31
Hello @e-aranda, sorry for the inconvenience! Apparently I introduced some problem with the graphics which I have yet to understand. I will open a new issue, in the meanwhile you can manually install [the previous build](https://anaconda.org/Juanlu001/dolfin/1.6.0/download/linux-64/dolfin-1.6.0-py27_2.tar.bz2) and run `$ conda install /tmp/linux-64_dolfin-1.6.0-py27_2.tar.bz2`.

[2015-10-19 08:17] astrojuanlu opened #36 "libGL errors on Ubuntu 14.04"
Originally reported by @e-aranda, see https://github.com/Juanlu001/fenics-recipes/issues/31#issuecomment-149131474. This was introduced with the last update.

[code]

[2015-10-19 08:21] astrojuanlu commented on #36
@e-aranda Could you try running the demo again in this way? (Seen [here](http://askubuntu.com/a/648953)).

[code]

[2015-10-19 08:27] e-aranda commented on #36
[code]

[2015-10-19 08:31] astrojuanlu commented on #36
All right, `version `GLIBCXX_3.4.20' not found`. This is then exactly the same problem as #35, since apparently the libstdc++ provided by conda is too old. I might need to revert the changes I last made. Closing as duplicate.

[2015-10-19 08:32] #36 closed, assigned to nobody

[2015-10-19 08:33] e-aranda commented on #36
So,

Can I revert the changes I made, or you need that I try something else?

2015-10-19 10:31 GMT+02:00 Juan Luis Cano Rodríguez <
notifications@github.com>:

[2015-10-19 08:33] astrojuanlu commented on #35
This problem has deeper implications, see also #36 reported by @e-aranda. While it would be important to know why the program is choosing the wrong boost lib, the libstdc++ provided by conda is too old and will probably lead to further problems. I might have to revert the changes - they were made to increase portability, but had the opposite effect.

[2015-10-19 08:34] astrojuanlu commented on #36
I can reproduce the source of the problem on my system, so you can either revert right now or wait for me to recompile and upload the packages. They will be ready today.

[2015-10-19 16:35] astrojuanlu opened #37 "Update recipes for better portability"
@stuarteberg Made some recommendations here: https://github.com/ContinuumIO/anaconda-issues/issues/483#issuecomment-149262721

I have a problem with the first rule though:

The fact is that `instant` is a just-in-time compiler, so I actually need `gcc` as a run dependency. Should I add `libgcc` too then?

[2015-10-19 16:38] stuarteberg commented on #37
I didn't realize that your package was a JIT.  Perhaps the rules I listed were worded too strongly.

No, the `gcc` package is a superset of the `libgcc` package.  If you have it as a run dependency, there's no benefit to also including `libgcc`.

[2015-10-19 16:40] astrojuanlu commented on #37
Got it, thanks. Let's see if I can provide at least an almost-portable version of the packages.

[2015-10-19 23:55] astrojuanlu commented on #37
I found something stunning: using

[code]

leads to CHOLMOD related errors, whereas

[code]

have no side effects. `cc` is identical to `gcc` and `c++` is identical to `g++`. I will need another day to find the will to debug this, but so far it works.

[2015-10-21 19:45] ghost commented on #35
Hi @Juanlu001 what is the current status of this issue?

[2015-10-21 20:44] dajuno opened #38 "Atlas/Lapack instead of MKL trial version?"
Hello,

I just installed fenics with conda through your repository. I see you included the commercial MKL library
Vendor:  Continuum Analytics, Inc.
Package: mkl
Message: trial mode expires in 30 days <--- !!

while the fenics source installer uses ATLAS+LAPACK, and so do (of course) the versions included in the Linux distributions. conda numpy uses openblas.

Why have you chosen not to use the fr

[2015-10-23 09:11] astrojuanlu commented on #38
Hello @dajuno, you raise a very valid concern. The easiest thing for me was to use Intel MKL libraries at first, and that's why I chose it over other alternatives. I accept advice, guidance or even pull requests to make FEniCS + OpenBLAS a reality :)

[2015-10-23 09:14] astrojuanlu commented on #35
Hi @cfbaptista, I have some half-backed recipes on the [portability branch](https://github.com/Juanlu001/fenics-recipes/tree/portability) but I'm still seeing compilation errors at the end of the process (see https://github.com/ContinuumIO/anaconda-issues/issues/483#issuecomment-149463270 and ping @ccordoba12). I cannot push proper packages until I solve that, or find it's not solvable and roll ba

[2015-10-23 09:17] astrojuanlu commented on #38
Here's the other reason: OpenBLAS has been available in Anaconda for just one month.

https://anaconda.org/anaconda/openblas/files

[2015-10-23 09:31] astrojuanlu commented on #14
I am building the packages against OpenBLAS instead (see #38).

[2015-10-23 14:32] astrojuanlu commented on #38
I am about to make it but I need to build petsc4py against NumPy 1.9 and there's an issue blocking me: https://github.com/conda/conda-build/issues/648

[2015-10-24 10:55] #38 closed, assigned to astrojuanlu

[2015-10-24 10:59] astrojuanlu commented on #35
@cfbaptista I just uploaded new packages to my Anaconda channel, would you please try those and tell me if they work? They don't have VTK support though, which is what complicates portability. I'm closing this issue, feel free to reopen if something goes wrong or open a new one.

[2015-10-24 11:00] astrojuanlu commented on #37
I'm closing this issue because I managed to compile the packages but I'll have to bring back VTK support at some point. Thanks for your help!

[2015-10-24 11:00] #37 closed, assigned to nobody

[2015-10-24 11:00] astrojuanlu opened #39 "VTK support"

[2015-10-24 11:42] ghost commented on #35
Hi @Juanlu001, it is still not working for me :( I removed the `fenics27` environment and reinstalled. After running the same  demo as before I get [this](https://gist.github.com/cfbaptista/c06bc27824ae587fe75d) error.

[2015-10-24 11:46] astrojuanlu commented on #35
Could you try `instant clean` again? I will try to reproduce in my system.

[2015-10-24 11:58] ghost commented on #35
The output for running the demo after issuing `instant-clean` can be found in the file named `fenics_demo_after_instant_clean` [here](https://gist.github.com/cfbaptista/c06bc27824ae587fe75d). It is still picking up `boost` from `/usr/lib` instead of from `~/.anaconda3/envs/fenics27/lib`. I tried everything a new after adding `~/.anaconda3/envs/fenics27/lib` to `LD_LIBRARY_PATH`:

`export LD_LIBRAR

[2015-10-24 12:07] astrojuanlu commented on #35
I instructed DOLFIN to pick up the right `libboost_filesystem` library in the build script (see https://github.com/Juanlu001/fenics-recipes/blob/d81196de91b7f7fe3cb9825d1ef5e6b727063a8b/dolfin/build.sh#L26). I have a hint of what might be happening though.

[code]

whereas:

[code]

This means that the error is probably in instant, since it's generating extension modules which are linked to the wr

[2015-10-24 17:23] astrojuanlu commented on #35
I suspect it's either a) my fault when building instant, since I don't see how to specify which library directories to use by default or b) FEniCS devs fault if there's no way to do it. I need to ask in the mailing list. I can imagine ugly ways of fixing this but haven't tested them yet, expect a nasty patch tomorrow but probably I will need some time to implement a proper solution.

[2015-10-24 18:44] ghost commented on #35
Thanks @Juanlu001 for all your efforts!

[2015-10-26 12:39] dajuno commented on #38
Great, thanks! :)

[2015-11-01 18:11] astrojuanlu commented on #38
By the way, I just saw this: https://twitter.com/bryvdv/status/660672659752022016 "the MKL optimizations for NumPy available free to all"

[2015-11-02 21:54] akpeneajo opened #40 "ImportError: No module named dolfin"
I have installed fenics on my ubuntu 14.04 system but whenever i try to import dolfin i get the following error. I have python installed. Please any help is greatly appreciated. Thanks.

[2015-11-02 22:16] astrojuanlu commented on #40
Hello @akpeneajo, can you check if your error is a duplicate of https://github.com/Juanlu001/fenics-recipes/issues/32? Please paste the output of `conda info -a` to have more information.

[2015-11-03 00:12] akpeneajo commented on #40
This is what I have Juanlu001

vivian@vivian-Latitude-E5510:~$ conda info -a
Current conda install:

[code]

  conda-build version : 1.8.2
       python version : 2.7.10.final.0
     requests version : 2.8.1
     root environment : /home/vivian/anaconda  (writable)
  default environment : /home/vivian/anaconda
     envs directories : /home/vivian/anaconda/envs
        package cache : /home/vivian/

[2015-11-03 00:29] akpeneajo commented on #40
Hi Juanlu001, I tried to reinstall and below is that result of the command you asked me to run

vivian@vivian-Latitude-E5510:~$ conda info -a
Current conda install:

[code]

  conda-build version : 1.8.2
       python version : 2.7.10.final.0
     requests version : 2.8.1
     root environment : /home/vivian/anaconda  (writable)
  default environment : /home/vivian/anaconda
     envs directories :

[2015-11-03 00:40] akpeneajo commented on #40
Hi @Juanlu001
SO i followed #32  and this is what I get after trying to import dolfin

vivian@vivian-Latitude-E5510:~$ from dolfin import *
from: can't read /var/mail/dolfin

[2015-11-03 05:56] astrojuanlu commented on #40
You have to open a Python interpreter first
On Nov 3, 2015 1:41 AM, "akpeneajo" notifications@github.com wrote:

[2015-11-03 14:27] ghost commented on #35
Hi @Juanlu001  has there been any progress on this issue? Is a newly installed FEniCS platform via your conda channel usable at the moment?

[2015-11-10 14:39] dajuno commented on #35
Doesn't look like it, I just tried it and get the same error.

[2015-11-20 16:12] mthewissen commented on #24
I don't think this should be closed. I still encounter exactly the same error as the OP (be it on CentOS 6.6). Trying the `demo_poisson.py` also gives

[code]

Upon installation it says indeed:

[code]

Whereas this ought to be 1.55 for dolfin version 1.4.
Can you revert to a latest working version of some kind? Thanks for maintaining.

[2015-11-22 23:54] earendilllock opened #41 "Mac OS X Installation"
Hi, dear all!

Is it possible to obtain fenics on OS X via anaconda?

when I've tried to do so the following error was obtained (and there is no conda package for dolfin on OS X)

[code]

[2015-11-23 12:52] astrojuanlu commented on #41
Hi @earendilllock, unfortunately there are some issues preventing FEniCS to be compiled on OS X, namely these ones: https://github.com/Juanlu001/fenics-recipes/labels/osx If you would like to help with testing that would be appreciated! I'm leaving this one as a meta-issue.

[2015-11-23 13:40] earendilllock commented on #41
I'm trying to build dolfin from https://bitbucket.org/fenics-project/dolfin.git and (if it would be succesfull) the conda package i hope would be possible to create.

(And I will be very pleased to help, but I do not know how =) cause I'm not a pro)

[2015-11-23 17:12] mthewissen commented on #35
Having the same problem with boost. Since my error message looks more similar to issue #24, I added the comment there. Any progress on this issue?

[2015-11-24 16:48] mthewissen commented on #24
FWIW, I managed to get version 1.4 working on an older system using the following:

[code]

[2015-11-24 16:57] mthewissen commented on #35
Not sure how much it is related to this problem, but I also had a wrong version for boost (and some other perhaps-related perhaps-not problems) on an older system, and after some trial-and-error the following seems to work for me (version 1.4):

[code]

It seems it helped to install everything together with one command, specifying the correct versions.

[2015-12-28 16:53] el-oso commented on #20
Hi, I just recently installed your conda packages and they were great! Thanks, for building them. However, I would like to visualize the data but I have no idea without VTK support.
Any followup on this topic recently?

[2015-12-29 12:11] astrojuanlu commented on #20
Hi @el-oso, thanks for your interest. The problem is that the latest VTK package from Anaconda still hadn't solved all the portability issues last time I checked (see https://github.com/ContinuumIO/anaconda-issues/issues/483#issuecomment-149463270). RealLife™ caught me these months so I haven't been able to work on this issue, and actually I have other pending ones. I suggest you to try building y

[2015-12-29 12:40] astrojuanlu opened #42 "Try ccache speed up compilations"
See https://www.virag.si/2015/07/use-ccache-with-cmake-for-faster-compilation/

[2016-01-04 10:49] astrojuanlu commented on #35
Just to provide some information of the status of this issue: FEniCS devs gave me some hints on how to fix it, but ultimately I'm expected to send a patch.

https://www.mail-archive.com/fenics-support%40fenicsproject.org/msg01797.html

Debugging CMake logs and 1-hour-long compilations are probably the most frustrating and painful things I've ever done and I have other deadlines now, so I cannot pr

[2016-01-04 10:51] astrojuanlu commented on #40
As there's no more input I'm closing this, please feel free to reopen if the problem persists.

[2016-01-04 10:51] #40 closed, assigned to nobody

[2016-01-04 11:21] astrojuanlu commented on #42
conda recipe available here https://github.com/omnia-md/conda-recipes/tree/master/ccache

[2016-01-04 22:55] astrojuanlu commented on #42
Complicated interaction with conda gcc and CMake, not necessary since cfc831e0cb3b, closing.

[2016-01-04 22:55] #42 closed, assigned to nobody

[2016-01-04 23:14] astrojuanlu commented on #20
Removed Qt and VTK to make this possible in fc47a2d85675cbbedba770c5abc964b54edb56a7 and testing in https://anaconda.org/juanlu001/fenics_all/builds/1/0. Still, `conda build swig` fails because `zlib` is not found.

[2016-01-05 08:19] astrojuanlu commented on #20
After almost 50 minutes, the process has failed in the exact last step: https://anaconda.org/Juanlu001/fenics_all/builds/5/0 I will call it "progress".

[2016-01-05 08:20] astrojuanlu opened #43 "Investigate SLEPc warnings"
Source: https://anaconda.org/Juanlu001/fenics_all/builds/5/0#L20123
Reference: http://stackoverflow.com/q/32884356/554319

[2016-01-05 08:25] astrojuanlu commented on #43
@dfroger did you make any progress with the issue? I find it weird that those two versions of `libgfortran` exist in Anaconda, looks like a worrying source of potential bugs.

[2016-01-05 08:30] astrojuanlu commented on #20
By the way @el-oso you can still export the results and view them in Paraview or mayavi2, see for instance http://fenicsproject.org/documentation/dolfin/1.6.0/python/demo/documented/poisson/python/documentation.html:

[code]

[2016-01-05 08:36] astrojuanlu opened #44 "Add proper DOLFIN tests"
See https://github.com/FEniCS/dolfin/tree/dcc25c029d66c32bb714a01bfc832b34c7120e72/test

[2016-01-05 08:55] astrojuanlu commented on #3
This is actually a duplicate of #16.

[2016-01-05 08:55] #3 closed, assigned to nobody

[2016-01-05 09:00] astrojuanlu commented on #16
I've just discovered these recipes to build FEniCS using Homebrew by @dpo and @lukeolson

https://github.com/optimizers/homebrew-fenics

I don't know how does it work but for some reason they don't need any OS-specific commands or options - probably Homebrew takes care of it.

On the other hand, there are official and recent OS X binaries for FEniCS but I haven't found the sources or build instruc

[2016-01-05 09:01] astrojuanlu commented on #41
No need of having a meta-issue actually, I'm closing this.

[2016-01-05 09:01] #41 closed, assigned to nobody

[2016-01-05 09:11] astrojuanlu commented on #39
For reference, this is the current status: https://github.com/ContinuumIO/anaconda-issues/issues/483#issuecomment-149463270 (no public logs yet).

[2016-01-05 09:19] astrojuanlu opened #45 "Simplify packages"
As commented in https://github.com/Juanlu001/fenics-recipes/issues/35#issuecomment-168642852, try to make

[code]

and

[code]

_just work_ if possible.

[2016-01-05 09:20] astrojuanlu commented on #35
Regarding the instant/DOLFIN mismatch, I'll try to see if modifying `LDFLAGS` somewhere helps, as seen in http://stackoverflow.com/a/7619133/554319.

[2016-01-05 09:22] el-oso commented on #20
Hi,

I was disconnected for several days and I just saw your reply. I haven't
tried the recipes and rebuild the conda packages, but
I have been using Fenics + Paraview on my leisure time :) and found it to
be a good combination.

@Juanlu001 I will try to rebuild the packages as you previously suggested
and see how that works out.

Small question then ... If you can visualize with Paraview or Mayav

[2016-01-05 09:27] astrojuanlu commented on #20
Good to know FEniCS + Paraview is working well! I cannot speak on behalf of fenics-dev but I guess it's handy to have a simple `plot` command in DOLFIN to quickly visualize things.

[2016-01-05 09:28] garth-wells commented on #16
On 5 January 2016 at 09:00, Juan Luis Cano Rodríguez <
notifications@github.com> wrote:

Garth

[2016-01-05 09:38] dfroger commented on #43
Hello, I replied on stackoverflow!

[2016-01-05 09:41] astrojuanlu commented on #43
Thanks!

[2016-01-07 09:17] astrojuanlu opened #46 "Investigate linking failures for DOLFIN demos"
Source: https://anaconda.org/juanlu001/fenics_all/builds/8/0#L26330

[2016-01-07 10:50] astrojuanlu commented on #20
Current status: [![Anaconda-Server Badge](https://anaconda.org/juanlu001/fenics_all/badges/build.svg)](https://anaconda.org/juanlu001/fenics_all/builds)

[2016-01-07 11:31] astrojuanlu commented on #20
I still get this unhelpful error on import that I am unable to reproduce locally:

[code]

(see https://anaconda.org/juanlu001/fenics_all/builds/16/0#L29630)

@gmarkall do you have an idea why this can happen? I already added debugging flags to the compilation, so it's unclear to me what's happening there...

[2016-01-07 11:48] gmarkall commented on #20
I'm not quite sure why that happened - it's unfortunate that no message appears to have been printed. To try to debug this, I'd try commenting out https://github.com/Juanlu001/fenics-recipes/blob/master/dolfin/meta.yaml#L47-L49 and adding a new file, `dolfin/run_test.py` that contains the statement `import dolfin` to see if that succeeds - if it fails, hopefully some output would be captured and e

[2016-01-07 11:50] gmarkall commented on #20
Also, you may want to add the `-q` flag to your `conda build` invocations so that the progress bars don't get printed out into the log.

[2016-01-07 13:55] astrojuanlu commented on #20
Thanks for your suggestions @gmarkall. I did as you say but unfortunately the error is equally cryptic:

[code]

https://anaconda.org/juanlu001/fenics_all/builds/19/0#L13720

I fear I am out of ideas here :(

[2016-01-07 14:58] astrojuanlu opened #47 "Investigate linking failures for tests"
Source: https://anaconda.org/juanlu001/fenics_all/builds/20/0#L13743

[2016-01-09 11:25] astrojuanlu commented on #43
@dfroger Do you feel like reporting this to https://github.com/ContinuumIO/Anaconda-issues/issues? I think it is a problem on their side, and the consequences are unpredictable. If not, please say so so I can do it myself.

[2016-01-20 14:32] desanti6 opened #48 "Dolfin has been compiled without VTK support"
Hello,

I have been trying to use Fenics. The code seems to run but I am receiving a warning saying
"Plotting not available. DOLFIN has been compiled without VTK support."

I followed the directions for a Conda install found on the Fenics page. I also know that VTK was installed with the Fenics installation. VTK also shows up as a package in the Conda list. Any help would be appreciated.

Thanks

[2016-01-20 14:37] astrojuanlu commented on #48
Hello @desanti6, this is a duplicate of #39. Right now VTK was causing portability problems so I disabled it to upload packages to my channel. It doesn't matter whether you have it installed or not because the requirement is enforced at compile time. I recommend you either to use Paraview or to compile the packages yourself using the recipes.

[2016-01-20 14:37] #48 closed, assigned to nobody

[2016-01-20 14:42] desanti6 commented on #48
Juan,

Thanks for the quick response. I'm pretty new to working in linux and to
all of this. I've also had a heck of a time even getting this far in the
installation process. I have no idea what Paraview is or how to compile
something from a recipe. Let alone where to find a recipe. I'm sorry to ask
but I would really appreciate it if you could give me a few more
details/point me to the recipe

Th

[2016-01-20 14:54] astrojuanlu commented on #48
Hello Dan, sorry for the terse response - if you are new to Linux I can imagine it must have been a long way until you reached this point.

On the one hand, Paraview is a visualization software which works with the same format as the DOLFIN plotting routines do - VTK. This means that, instead of plotting from FEniCS, you can export the data to a `.pvd` file and read it from there.

[code]

Paravie

[2016-01-20 14:58] astrojuanlu commented on #39
I should update the FAQ at least.

[2016-01-20 14:59] desanti6 commented on #48
Juan,

No apology necessary. I'm sure you are busy. I really, really appreciate
the help. I will try both Paraview and the Conda build.

Thanks again!

Dan

On Wed, Jan 20, 2016 at 9:54 AM, Juan Luis Cano Rodríguez <
notifications@github.com> wrote:

##

Daniel DeSantis

[2016-01-23 20:21] desanti6 commented on #48
Juan,

Just wanted to say thanks again. Paraview worked, though I'm afraid the
build did not. Still couldn't plot with VTK. I am running into a problem
with creating a circular mesh now though. I found out that mshr is used in
place of UnitCircle now, but I seem to be getting an import error, even
though I was able to install mshr in conda. Still digging into it.

Anyway, thanks for the help earli

[2016-01-25 06:43] astrojuanlu commented on #48
Hi Dan, too bad the build didn't work - If you have the time you can report the specific issues here and see if they are easily fixable or not. Specifically there should be no import problem with mshr, so feel free to open a new issue providing your operative system and the output of `conda info -a`.

[2016-01-26 20:51] wang1943 opened #49 "How can I use IDE, say Spyder, after conda binary installation?"
Hi, Juan,

Thanks for the great work to make fenics easier with the binary source. However I'm wondering how to make an IDE(say spyder) works after activate fenics environment. I have little knowledge of how conda actually work. It appears that if fenics is not activated, I can't import fenics in anaconda environment. Should I just install spyder while env fenics is activated using
:/conda install

[2016-01-27 06:29] astrojuanlu commented on #49
Hi @wang1943, fortunately you can activate the same environment where you installed FEniCS and install spyder there:

[code]

[2016-01-27 06:29] #49 closed, assigned to nobody

[2016-02-02 17:10] quang-ha commented on #48
@Juanlu001 conda has released Anaconda 3, does that potentially fix this issue? (I have no clue, I am just asking)

[2016-02-02 20:39] astrojuanlu commented on #48
Hi @quang-ha - if only! The latest VTK packages should have fixed the issue but actually they didn't (or I couldn't figure out how). The details are in #39, thanks for your interest though.

[2016-02-03 11:30] quang-ha commented on #48
Compiling the `conda` package locally gives the following error:

[code]

Any suggestions?

[2016-02-03 13:59] astrojuanlu commented on #48
Thanks Quang, would you open a new issue while I investigate this?

[2016-02-03 14:04] astrojuanlu commented on #48
In the meanwhile, be sure pkg-config is installed:

[code]

[2016-02-03 18:14] quang-ha commented on #48
Just submitted the pull request that "may" fixed the problem (still require freeglut/OpenGL on the system though)

[2016-02-03 20:41] francispoulin opened #51 "difficulties finding fenics using anaconda search"
I have tried to follow the instructions on github to install fenics1.4 using conda.  I have had some success, but can't seem to get the last part to work.

Below you will see that I am being lead in circles.

Any idea how to fix this?

[code]

[2016-02-03 21:30] astrojuanlu commented on #51
Hello Francis, the problem here is that I don't provide FEniCS packages for OS X. The reason is that [there is a number of open issues on OS X](https://github.com/Juanlu001/fenics-recipes/issues?q=is%3Aissue+is%3Aopen+label%3Aosx) that I didn't manage to solve because I don't have a Mac myself and testing using continuous integration services is not an option.

Still, there are two people that see

[2016-02-03 21:30] #51 closed, assigned to nobody

[2016-02-13 17:43] dpo commented on #16
I'm getting close to a stable point, with a couple last bugs to iron out in the build process. Check the `dolfin160` branch at https://github.com/optimizers/homebrew-fenics/tree/dolfin160. All `dolfin` dependencies build, including `ffc`. I'm still having an issue with `dolfin` itself, related to `mumps`.

[2016-02-13 19:50] astrojuanlu commented on #16
Thanks for the info @dpo. Not sure how could we take advantage of the brew recipes with conda but still good to know it's possible to get it to work. Please keep us posted.

[2016-03-04 12:26] mikaem commented on #35
Hi

I just ran into the same error message. Seems to be because my conda gcc is version 4.8.5, whereas my ubuntu gcc is 4.9.2. The unit test is picking up the ubuntu libcppunit.so library and conflicts arise. A solution is simply to disable the unit tests. That is, put

-DDOLFIN_ENABLE_UNIT_TESTS:BOOL=FALSE

in dolfins build.sh.

[2016-03-04 13:28] astrojuanlu commented on #35
Thanks a lot for your comment @mikaem. It's sad to see that using conda gcc fixed some problems but brought many others.

[2016-03-04 14:29] mikaem commented on #35
Yes. One needs to be extra careful not to pick up the wrong libraries and to make sure the correct (conda) versions are used. I also had an issue with Petsc using mpif90 that picked up f95, which is not defined in conda and as such the ubuntu version was picked up instead and I got an error trying to compile Slepc (error in trying to link to petscksp.mod). In Slepc yaml you had a fix though (ln -s

[2016-03-12 14:13] quang-ha opened #52 "Problem with petsc4py?"
Was helping my friend installing `fenics` using `conda` packages. When we came across `petsc4py` build, the following error comes up:

[code]

Apparently for some reasons, `conda` does not have `numpy` header files in `include/python2.7/` but it is allocated in `lib/python2.7/site-packages/numpy/core/include/numpy` instead...

Could well be a bug, but now as I was trying to install dolfin using th

[2016-03-12 22:07] mikaem commented on #52
Hi

Which platform is this? I have not seen this on my Ubuntu 15.04. I am starting a fresh anaconda, installing gcc and cmake and then dolfin dependencies with no problems. Have you tried to remove the 1.9 dependence of numpy from meta.yaml? The newest numpy in anaconda is 1.10...

M

[2016-03-12 22:10] quang-ha commented on #52
My fresh `numpy` on `conda` is 1.10, so... still manage to flick through `dolfin` install without `petsc4py` anyway...

Platform wise, Ubuntu 14.04 LT3

[2016-03-12 22:13] mikaem commented on #52
Ok, but are you removing "==1.9" from "numpy ==1.9" from meta.yaml when building petsc4py?

[2016-03-12 22:21] quang-ha commented on #52
I changed it to `>=1.9` and it never asked `numpy` to downgrade.

[2016-03-12 22:30] quang-ha commented on #52
Seems like the instruction to install with `conda` on the webpage `fenicsproject.org` would need to be updated as well.. I don't recall seeing `boost` here but that's a separate matter...

[2016-03-12 22:46] mikaem commented on #52
Conda is a living breathing environment bound to fail from time to time. What's the issue with boost?

[2016-03-12 22:48] quang-ha commented on #52
Just to point out that here the instruction still say `boost` :) http://fenicsproject.org/download/installation_using_conda.html#installation-using-conda while it should not anymore

[2016-03-12 22:55] mikaem commented on #52
Ah, sure, boost from anaconda is ok now, no need to build it. But these things are changing rapidly. It was only a few months ago that anaconda swig was version 2 and too small to build dolfin...

[2016-03-13 20:58] #52 closed, assigned to nobody

[2016-03-15 11:30] RafalSkolasinski opened #53 "Fenics 1.4 miss dependencies (boost ==1.55.0)"
Following

[code]

fails with unmet dependencies.

[code]

(Tried on centos 6 and mint 17.3)

[2016-03-15 12:16] RafalSkolasinski opened #54 "Compilation of ``petsc`` fails on centos 6."
I forked master branch to try a custom build. The only difference I made was to remove limitation on `numpy` version and enforcing `libgfortran ==1` to workaround current problems with `libgfortran` on conda. (see [#686](https://github.com/ContinuumIO/anaconda-issues/issues/686#)).

The following problem occurs during configuration of `petsc` installation

[code]

message from `configure.log`

[co

[2016-03-16 18:46] GitH00t commented on #24
Hello,

I am experiencing a similar issue as OP.
I followed the standard recipe using conda.
Ubuntu 15.10

[code]

I posted the results of
[code]
[https://gist.github.com/GitH00t/9062fdb3122fa20ceab0](url)

When I upgrade numpy I can get rid of the problem, but the I get the same error as OP

[code]

Since you pointed out in the faq that this might be related to linking I executed the command you

[2016-03-16 19:50] GitH00t opened #55 "ImportError: libgfortran.so.1"
Hello,
I am having issues importing dolfin
I followed the standard procedure using conda.
Ubuntu 15.10

[code]

I posted the results of

[code]

[output](https://gist.github.com/GitH00t/9062fdb3122fa20ceab0)

When I upgrade numpy I can get rid of the problem stated above, but then run into

[code]

Since you pointed out in the faq that this might be related to linking I executed the command you sp

[2016-03-17 21:10] RafalSkolasinski opened #56 "mshr recipe fails to build (problem with cgal)"
mshr recipe seems to be hit by problem described here:
https://bitbucket.org/fenics-project/mshr/issues/40/mshr-16-cgal-compilation-problem

[2016-03-17 21:17] twmr commented on #56
I've just added a new comment to the mshr issue, which might be of interest to you.

[2016-03-17 22:25] sophia-wright-blue opened #57 "Cannot import mshr"
I installed mshr and it shows up in the list of packages installed in the fenics27 env, but when i try to import mshr, i get an error saying ' no module named mshr'

also, there is no mshr folder in anaconda/env/fenics27/lib/python2.7/site-packages

any help figuring this out would be greatly appreciated. thank you.

Sophia.

[2016-03-18 04:12] twmr commented on #57
I guess that the output of `python -c ' import mshr'` is just

[code]

right? Importing dolfin works fine?

[2016-03-18 08:17] sophia-wright-blue commented on #57
That's right, i'm able to import dolfin, some of the demo codes work fine too,

thanks for replying,

[2016-03-18 11:09] GitH00t commented on #55
Hey, problem was actually very easy to solve, but since I am super new it was not so obvious.

I upgrade numpy to 1.10.4 and then installed boost 1.57
Now I can run things normally. Issue can be closed.

[2016-03-18 11:09] #55 closed, assigned to nobody

[2016-03-21 22:21] astrojuanlu commented on #53
Hm, the instructions for CentOS are particularly outdated. I'll have to take a closer look on this.

[2016-03-21 22:25] astrojuanlu commented on #54
I've seen lots of problems with using Anaconda gcc and libgfortran. The problem is that not using it creates its own portability issues. Perhaps at some point the wrong compilers are used and it makes the compilation fail, I will try to diagnose the issue this week.

[2016-03-21 22:27] astrojuanlu commented on #55
Thanks @GitH00t, probably the instructions and dependencies should be updated.

[2016-03-21 22:30] RafalSkolasinski commented on #54
I somehow manage to make all packages (except mshr) compiling (under Centos 7) without setting

[code]

didn't try Centos 6 again because we'll have a cluster update soon.

In my fork now I got an Centos 7 Dockerimage that does the compilation.
Using output of it allows for successful installation under Centos 7 and Linux Mint 17.3 Rosa (Ubuntu 14.04 bases as I remember).

If you would have tips h

[2016-03-22 16:46] astrojuanlu commented on #52
Thanks a lot for taking care of this issue @mikaem, I didn't even have time to answer :)

[2016-03-22 16:52] astrojuanlu commented on #57
Thanks for reporting @sophia-wright-blue, apparently there are some upstream problems with mshr, see https://bitbucket.org/fenics-project/mshr/issues/40/mshr-16-cgal-compilation-problem and https://github.com/Juanlu001/fenics-recipes/issues/56.

[2016-03-24 01:37] sophia-wright-blue commented on #57
thanks for replying Juan. how would you recommend i resolve this problem. the bitbucket link that you pointed me to shows this issue as resolved. i currently have fenics installed on Ubuntu through the anaconda package. thank you.

[2016-03-24 16:35] vroomanj commented on #53
Any news on this? I'm having this same issue.

[2016-03-31 15:33] RafalSkolasinski commented on #56
Hi @Juanlu001, did you maybe manage to find out what's a problem with `mshr` recipe?

[2016-03-31 15:40] astrojuanlu commented on #56
Unfortunately not @RafalSkolasinski, I am working on other projects now and don't know when will I have a weekend to sit down and give these recipes some care :(

[2016-04-15 13:49] porphyrius opened #58 "unable to set up conda environment -- ImportError: libboost_system.so.1.57.0: cannot open shared object file: No such file or directory"
Dear Juanlu001,

I am sorry to bother you again, but every time I install a new Ubuntu system (now 15.10) I incur in troubles with setting up fenics in existing conda installations. I tried to follow your previous suggestions, but with no avail. I am testing my installation by running a program 'brwalk.py' which makes calls to dolfin, scipy, matplotlib. The feeling is that there is a problem with

[2016-04-26 19:49] GaZ3ll3 commented on #58
@porphyrius

you installed boost 1.60

see your first a few lines:  `boost:       1.60.0-py27_0`

lower the version of boost

`conda install boost=1.57`

and also the version of vtk

`conda install vtk=5.10`

also, very important, the mkl.

`conda install mkl=11.1`

I don't why 11.3.1 could not work, but it seems you can only have trial mode for 30 days.........

[2016-04-27 06:28] astrojuanlu commented on #58
Thanks @GaZ3ll3 for this late answer. Please @porphyrius confirm if this can be closed, boost is a mess and I should take the time to pin the version once and for all...

@GaZ3ll3 what do you mean that 11.3.1 won't work? In principle the new recipes should not depend on MKL but I would have to check to be sure.

[2016-04-28 05:38] GaZ3ll3 commented on #58
@Juanlu001 continuum team seems get another way of installation of mkl, they removes mkl-service and mkl-rt, and only use mkl in current version (point out if I am wrong, I cannot find their thread on this problem in their issue, but it is about some numpy+mkl...). If your recipe does not depend on mkl, you probably should add `nomkl` as dependency, it will remove all `mkl` features, which means `

[2016-04-28 07:59] astrojuanlu commented on #58
Thanks for the clarifications, I will have to consider it if I have some time to work on this and other pending issues.

[2016-04-28 09:24] porphyrius commented on #58
Hi https://github.com/Juanlu001 and https://github.com/GaZ3ll3, thanks a lot for your help.
So I wiped out my fenics27 environment and started everything anew trying to follow your suggestions.
But still no luck:

[code]

[2016-04-28 09:31] astrojuanlu commented on #58
Well, as you can see this is a different breed of problem. Now everything's fine with boost, but the issue now is with Intel MKL, as @GaZ3ll3 anticipated. Please specify also the mkl version, as said [in a previous comment](https://github.com/Juanlu001/fenics-recipes/issues/58#issuecomment-214865069).

[2016-04-28 09:34] porphyrius commented on #58
I did that:

   conda install mkl=11.1

Then it got upgraded automatically when installing some other program, and I downgraded it each time.

[2016-04-28 09:54] astrojuanlu commented on #58
My fault, I didn't see that part. In fact there must be some nasty interaction between MKL and the switch to OpenBLAS:

https://github.com/Juanlu001/fenics-recipes/commit/f929f3a27e8137a6cd46da33bbb17e36f74c899b

I last touched these packages before Continuum made the latest significant changes to MKL distribution. I'm sorry but I won't have time to fix this in the short term, I encourage you to c

[2016-04-28 17:22] GaZ3ll3 commented on #58
@porphyrius @Juanlu001 checkout https://github.com/mikaem/fenics-recipes/blob/conda-gcc/build_fenics.sh in https://github.com/mikaem/fenics-recipes/tree/conda-gcc branch

I tried this installation from local, directly `bash build_fenics.sh`. It looks ok, but it is `1.7`.

in the comments, he mentioned a problem which I encountered multiple times. It is about the libgfortran. Hope it helps.

[2016-05-18 09:19] e-aranda opened #59 "Error using PETSc"
Hi,

I am trying to use some PETSc functions and I have got an error which seems that something in the installation is wrong. The error:

PETSc/Mat.pyx in petsc4py.PETSc.Mat.multTranspose (src/petsc4py.PETSc.c:126588)()

Error: error code 60
[0] MatMultTranspose() line 2274 in /home/juanlu/miniconda/conda-bld/work/petsc-3.6.2/src/mat/interface/matrix.c

Note that the path which refers to PETSc  fi

[2016-05-18 09:31] astrojuanlu commented on #59
This is a duplicate of https://github.com/Juanlu001/fenics-recipes/issues/28. I don't think the path in the traceback is affecting the error, please report it with the corresponding program to FEniCS developers and come back if it's my fault.

[2016-05-18 09:31] #59 closed, assigned to nobody

[2016-05-18 10:45] e-aranda commented on #59
Sorry, you are right. It was my fault. The PETSc function is working fine.

Thank you

[2016-06-20 14:12] kilojoules commented on #21
I got this problem too from brew dolfin. Here's the error I got:

[code]

[2016-08-23 19:13] blechta opened #60 "OpenBLAS spawns threads"
Observed on https://github.com/mikaem/fenics-recipes fork but there is not issue tracker. It might be useful to other forks as well. Ping @mikaem.

OpenBLAS is compiled with thread support and spawns as many threads as number of hyper-threading cores in the system. This slows down computation and eats memory. To reproduce compare

[code]

Watch running processes using `top` and eventually add `lis

[2016-08-24 07:31] mikaem commented on #60
Hi Jan,
I remember the problem being discussed, but I have not really observed this on my machines. Using the non-vtk version from my channel (the one compiled from branch [conda-gcc)](https://github.com/mikaem/fenics-recipes/tree/conda-gcc)  I see no effect on my laptop of using OMP_NUM_THREADS=1. I can add export OMP_NUM_THREADS=1 in [build.sh](https://github.com/mikaem/fenics-recipes/blob/conda

[2016-08-24 08:59] blechta commented on #60
FYI, it's reproducible in travis-python container:

[code]

and in the container

[code]

I think this is more less what is run on Travis CI. Maybe conda libraries link to BLAS from the machine? I don't know how conda recipes work. Adding `export OMP_NUM_THREADS=1` could be good solution.

[2016-08-24 09:14] mikaem commented on #60
I just remembered that I actually did compile my own openblas. Using [conda-recepies](https://github.com/conda/conda-recipes/tree/master/openblas). Should be easy enough to recompile with make USE_THREAD=0.
Thanks for the docker/travis tip:-) I'll install it and check for myself.

[2016-08-24 09:23] mikaem commented on #60
BTW, openblas was compiled with
make DYNAMIC_ARCH=1 BINARY=${ARCH} NO_LAPACK=0 NO_AFFINITY=1 NUM_THREADS=1
So is USE_THREADS=0 better than NUM_THREADS=1 ??

[2016-08-24 09:34] mikaem commented on #60
Ok, I see it in the docker. I'll recompile openblas and update the fenics packages accordingly.

[2016-08-24 09:53] mikaem commented on #60
I just remembered that I already have this in my .bashrc

[code]

And that is why I don't see any difference on my machine

[2016-08-24 10:22] blechta commented on #60
That should not matter, see https://github.com/xianyi/OpenBLAS/blob/develop/Makefile.system#L176, although there might be bugs. Line 187 seems buggy. `USE_THREAD=0` should do the job.

But note that the correct variable is `USE_THREAD`, not thread_s_.

[2016-08-24 10:34] mikaem commented on #60
Looks to me like USE_THREAD=0 is the same as NUM_THREADS=1? Anyway, I recompiled openblas with USE_THREAD=0 and uploaded to Anaconda Cloud. The same behaviour is still observed on the docker:-(

[2016-11-05 21:57] sniperlucian opened #61 "Incompatible Swig Version"
I just installed fenics, downgraded boost, mkl and vtk as mentioned elsewhere. By testing the tutorial "3.1 The heat equation", I get incompatible Swig Version  '3.0.7' != '3.0.5'  in function

'V = FunctionSpace(mesh, "P", 1)'

However downgrading  vs.

returns

UnsatisfiableError: The following specifications were found to be in conflict:
  - ffc -> swig ==3.0.7
  - swig 3.0.5*

Since ffc  is in

[2016-12-15 16:48] ccluri commented on #61
This spec sheet works for me. (tested for linux-64 platform)
[fenics_160.txt](https://github.com/Juanlu001/fenics-recipes/files/655261/fenics_160.txt)

Install this exact version using the command

conda create --name fenics27 --file fenics_160.txt
source activate fenics27

[2017-09-26 18:34] mentrelli commented on #57
I have the same problem reported (18 months ago) by  @sophia-wright-blue.
Following the instruction given in "The FEniCS Tutorial", I installed FEniCS under Anaconda,
 on a Ubuntu 16.04 machine (https://fenicsproject.org/download/):

$ conda create -n fenicsproject -c conda-forge fenics
$ source activate fenicsproject

and I tried to go through the tutorial. The first example works, but the second

[2017-10-04 21:55] ghost opened #62 "Fenics conda installation not working (SLEPC_DIR and few other failures)"
I just installed fenics using a conda environment on a linux machine using the instructions given [here](https://fenicsproject.org/download/). I didn't get `meshr` with the `fenics` install, so I installed it separately using conda. Following that I tried to run few examples (`ft01_` and `ft08_` given on the tutorial page [here](https://fenicsproject.org/pub/tutorial/python/vol1/)), but it throws

[2018-07-22 11:21] hpewd opened #63 "No module named 'dolfin'"
Hello,

I can't, for the life of me, get `fenics`/`dolfin `running with `Spyder`. `from dolfin import *` errors `No module named 'dolfin'`.

I installed `anaconda`. Then `fenics` using `conda install fenics`. From the terminal I can successfully activate my fenics environment. When I then start either `python` or `ipython` I can successfully import dolfin using `from dolfin import *`! However, whe

[2018-10-31 17:57] divyabohra commented on #21
I get the same errors but only after I install matplotlib in the same anaconda environment as fenics. Without matplotlib, I get no error and everything works fine. Can someone help?

[2019-10-16 15:30] aziz-hakim commented on #57
When i tried to run ft02_poisson_membrane.py i get these following messages with a error:
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-1-a7e5ccf427a5> in <module>()
      1 from __future__ import print_function
      2 from fenics import *
----> 3 from mshr import *
      4 imp